[2013-09-25 17:02] blahah opened #1 "euclidean distance dimension reduction"
add euclidean distance-based dimension reduction

[2013-09-25 17:02] blahah opened #2 "unexpressed contigs metric"

[2013-09-25 17:03] blahah opened #3 "log results to file"

[2013-10-20 18:57] Blahah opened #6 "word formula parsing"
Transrater should output metrics specified by the user, and the specification should allow word formulae for the total assembly score.

For example if the user wants to find the n50, orf percent (opc), reference hit rate (rhr) and ortholog hit ratio (ohr), they can specify those as a list: n50,opc,rhr,ohr.

Then if they want the overall assembly score to be: n50 * rhr * ohr, they can provide that

[2013-10-20 19:00] blahah opened #7 "bring readme up to date"
readme is behind the code - update to reflect all available metrics

[2013-10-20 19:02] blahah opened #8 "documentation"
needs documentation

[2013-10-20 19:02] blahah opened #9 "full test coverage"

[2013-11-21 19:13] blahah opened #10 "catch crashes in any of the dependencies, handle neatly"
At the moment we crash if, for example, USEARCH runs out of memory and therefore doesn't produce the alignments. We should be neatly handling all such events and providing meaningful messages to the users.

[2013-11-21 19:14] blahah opened #11 "don't run analyses twice"
the command-line tool currently runs all the analyses twice - d'oh!

[2013-11-21 19:16] blahah opened #12 "don't run read-based metrics without reads"
cmdline tool tries to run read metrics regardless of whether read files are specified.

See forum: https://groups.google.com/forum/#!topic/transrate-users/K63xzVwq9as

[2013-11-21 20:09] blahah opened #13 "replace USEARCH"
USEARCH was initially chosen as the contig-contig aligner because it's about 100X faster than BLAST. The free (as in beer) version of USEARCH is 32bit only. This was never a problem with the relatively small assemblies and references I use, but users are having issues with it crashing (e.g https://groups.google.com/forum/#!topic/transrate-users/ns0pRP4Ddvg), probably due to hitting the 4GB memory

[2013-11-24 12:16] blahah opened #14 "replace Bowtie"
It turns out that bowtie(2) is really quite slow, relative to some competitors. I tested SNAP, and got around a 90% reduction in read alignment times. If transrate can be much faster, this allows more creative uses for it, so we should switch to a faster aligner (probably SNAP).

[2013-11-24 16:08] #12 closed, assigned to blahah

[2013-11-24 16:16] #11 closed, assigned to blahah

[2013-11-26 16:09] blahah opened #15 "add a --quick option"
Perhaps a useful pattern for the user:

If I want a rough, quick score, I can use the --quick option. This takes a smaller subset of the input reads, aligns them user faster settings and a faster aligner (SNAP), and rather than doing an all-vs-all BLAT alignment of assembly v. reference, simply does a CD-HIT-2D clustering.

Conversely, the default --no-quick option uses more sensitive alignment se

[2013-12-19 12:50] Blahah opened #18 "potential new quality metric"
By looking at the distribution of hit %IDs we might be able to recognise a distribution characteristic of a good assembly. We would expect there to be more hits with higher (or middle) ID% than low iD% in a good assembly. Counts of medium and high ID are proportional to the number of real transcripts assembled. Counts of low ID% are proportional to the number of spurious or novel transcripts assem

[2014-04-07 10:08] blahah opened #19 "add chimera detection"

[2014-04-09 10:39] blahah opened #20 "parallel contig assessment"
Contig assessment should be embarrassingly parallel

[2014-04-11 17:36] #20 closed, assigned to nobody

[2014-04-14 17:32] blahah opened #24 "add travis integration"

[2014-06-04 16:32] blahah opened #28 "sequence composition metrics"
sequence composition metrics to be implemented for each contig and per assembly
- [x] GC%
- [x] [GC-skew](http://en.wikipedia.org/wiki/GC_skew)
- [x] AT-skew (see previous)
- [x] [CpG density](http://en.wikipedia.org/wiki/CpG_site)
- [x] [linguistic complexity](http://en.wikipedia.org/wiki/Linguistic_sequence_complexity)
- [ ] [Wootton & Federhen complexity](http://www.ncbi.nlm.nih.gov/pubmed/8743

[2014-06-04 16:33] blahah opened #29 "per-contig metrics"
since we are evaluating each contig, we should report any appropriate metrics on a per-contig bases

[2014-06-04 16:39] blahah opened #30 "structural contig metrics"
structural metrics to be implemented:
- number of contigs with an ORF detected >50aa
- proportion of contigs with an ORF detected >50aa

[2014-06-05 18:48] blahah opened #31 "read metrics in terms of reads"
we should separate out read metrics into those that are reported in terms of reads (e.g. number of good read pairs) and those reported in terms of contigs (e.g. contigs with coverage < 1).

These metrics are required in terms of reads:
- number and proportion (n&p) of read pairs that mapped
- n&p of read pairs that were classified as 'good'
- n&p where members of pair map on different contigs
- n&

[2014-06-05 19:00] blahah opened #32 "read metrics in terms of contigs"
- number & proportion (n&p) of contigs with mean coverage < 1
- n&p of contigs with at least one base with 0 coverage
- n&p of contigs with coverage > 10
- n&p of contigs with evidence of being fragmented
- n of contigs there would be if all bridges resolved

[2014-06-05 19:38] blahah opened #33 "comparative metrics"
- n&p of contigs with CRB-BLAST hit
- n&p of reference sequences with CRB-BLAST hit
- n&p of reference sequences covered to (55, 50, 75, 85, 95%) of their length by CRB-BLAST hit
- n&p of contigs with evidence of chimeric assembly

[2014-06-06 10:30] blahah opened #34 "travis integration not working"
would really like to see test results on all PRs, so get this fixed as priority

[2014-06-06 11:19] #24 closed, assigned to nobody

[2014-06-08 11:35] #34 closed, assigned to blahah

[2014-06-30 14:50] MatthewRalston opened #41 "Unhandled NameError: uninitialized constant Transrate::Assembly::Queue"
Hello, I recently installed transrate, hoping to use it for some Trinity assemblies. Below you can see that I have all the dependencies installed, according to your [guide](http://blahah.net/bioinformatics/2013/10/19/installing-transrate/). You can see that the install was successful, below. I have tried several fasta files for the assembly, and even included the reference protein fasta. I can't s

[2014-07-01 16:56] #32 closed, assigned to blahah

[2014-07-01 16:57] #13 closed, assigned to nobody

[2014-07-01 16:58] #1 closed, assigned to blahah

[2014-07-01 16:58] #2 closed, assigned to blahah

[2014-07-01 20:30] blahah opened #44 "Logging"
There should be a logger available throughout the program with varying verbosity levels that can be set from the command line.

[2014-07-01 21:01] blahah opened #45 "Coverage calculation using bioruby-samtools is incredibly slow"
But running the mpileup command is very fast. Perhaps better to just write an mpileup parser?

[2014-07-02 12:07] blahah opened #46 "More control over command execution"
It's getting fiddly to handle command execution using backticks. I think we should move to using open3 or open4 which allow you separately capture stdout and stderr, and well as having an input handle for stdin.

[2014-07-07 11:35] #33 closed, assigned to nobody

[2014-07-07 11:35] #46 closed, assigned to nobody

[2014-07-07 11:38] #44 closed, assigned to nobody

[2014-07-07 11:38] #31 closed, assigned to blahah

[2014-07-07 11:38] #30 closed, assigned to nobody

[2014-07-07 11:39] #45 closed, assigned to nobody

[2014-07-07 11:41] #28 closed, assigned to nobody

[2014-07-07 12:13] #19 closed, assigned to nobody

[2014-07-07 12:19] #9 closed, assigned to blahah

[2014-07-08 12:03] Blahah opened #49 "docs: add a source for representative protein per locus for animals"

[2014-07-08 12:13] blahah opened #50 "cli: check binary dependency versions on each run"
and print a helpful error message explaining how to install the missing dependencies

[2014-07-08 12:15] Blahah opened #51 "docs: have walkthrough with real data"

[2014-07-09 10:50] Blahah opened #53 "output different classes of FASTA and FASTQ"
output FASTA file for each of

- high-confidence contigs
- potential chimeras
- contigs too short
- uncovered contigs or contigs with uncovered bases

and the FASTQ of reads mapping to each

[2014-07-09 10:56] blahah opened #54 "add human CCDS best representative gene models to docs"

[2014-07-09 12:45] #7 closed, assigned to blahah

[2014-07-09 12:45] #8 closed, assigned to blahah

[2014-07-09 12:48] #41 closed, assigned to nobody

[2014-07-09 14:38] MatthewRalston opened #55 "Bowtie alignment fails"
The standard functionality seems to be working fine (see below).
1. (see 3rd command) When the left and right reads are supplied, (in this case it fails due to unpaired reads lumped in with the paired reads a la Trinity) no error is provided for the failure of bowtie. Including this output may help the user diagnose the problem with their reads through bowtie2's error report, as it's clear that th

[2014-07-09 15:44] blahah opened #56 "Add single-read support to read-metrics"
Add single-read support to coverage and mapping statistics. will require more intelligent handling of sam file.

See #55

[2014-07-09 15:49] blahah opened #57 "Parse samtools mpileup chromosome name with BioRuby FastaDefline parser"
See #55

[2014-07-09 16:07] blahah opened #58 "cli: --print-commands"
Some users would like to run their BLAST distributed. Rather than try to handle that from transrate, we can simply print out the commands to be run and allow them to place the output files in the working directory before running transrate.

Add a `--print-commands` flag that implements this.

[2014-07-13 04:32] blahah opened #59 "handle bases other than ACTGN in base composition"
Here https://github.com/Blahah/transrate/blob/master/lib/transrate/contig.rb#L39-L53

See https://groups.google.com/forum/#!topic/transrate-users/eNTzcimUbDQ

[2014-07-13 09:53] #59 closed, assigned to nobody

[2014-07-21 14:43] MatthewRalston opened #64 "Strand specific option for read alignment"
Hello,
A strand specific option for the read alignment would be interesting. Paired-end support helps resolve ambiguous alignments and strand specific data resolves these further. Specifically, [many genes](http://nar.oxfordjournals.org/content/32/16/4812.long) have overlapping transcripts on opposite strands, that cannot be resolved otherwise. Bowtie2 offers a --norc option that permits the align

[2014-07-22 15:15] blahah opened #67 "problems with 'which' dependency in sudo-installations"
We're getting a few users reporting crashes that relate to 'which' not having permission to access its own files, e.g. https://groups.google.com/forum/#!topic/transrate-users/h_92jXYaQc0

We should investigate, maybe write our own which (it's very simple) to work around the problem.

We should also make it explicit in the documentation that sudo-installation is a Bad Thing.

[2014-07-24 13:45] cboursnell opened #68 "Chimera tag"
Add a tag that can be returned for each contig that describes the evidence for if the contig is a chimera.

[2014-07-24 16:21] blahah opened #69 "mapq based statistics"
summary statistics across read mapping mapq scores
- mapq(some arbitrary number) coverage
- maximum mapq
- proportion of good mapped reads either side of the cutoff
- per-base mean mapq (use mpileup/bcf quality scores)
- transcripts that have/don't have unique coverage (i.e. no region with mapq above some cutoff)
- coutn regions of no/ununique coverage

look at distribution of mapq scores

[2014-07-24 16:53] blahah opened #70 "variance of expression on a contig"
look at variance of coverage per transcript

[2014-07-24 17:23] blahah opened #71 "edit distance"
per transcript mean read edit distance - just use the `NM:i:<N>` tag from SAM/BAM file
should be normally distributed
have a cutoff so contigs with high edit rate get put in a bin
interesting to plot the distribution before and after various read preprocessing treatments (e.g. read error correction)

[2014-07-25 15:03] #10 closed, assigned to blahah

[2014-07-25 15:03] #29 closed, assigned to nobody

[2014-07-25 15:03] #50 closed, assigned to nobody

[2014-07-25 15:03] #57 closed, assigned to nobody

[2014-07-26 10:00] blahah opened #73 "'Loading reference dataset' printed when no reference provided"
Don't print this line when reference isn't provided:

[code]

[2014-07-28 12:57] blahah opened #74 "use sorted, indexed bam for read metrics"
we're starting to add features that require getting reads for each contig, so we need to be able to get and store efficiently.

This requires adapting bettersam so it handles BAM files too

[2014-07-30 12:10] blahah opened #75 "segmentation of coverage/mapQ signals"
use an algorithm for detecting multiple levels of coverage signal
e.g. piecewise linear segmentation or bayesian segmentation / change-point analysis
get number and position of segments/change-points for each transcript

[2014-08-06 21:11] blahah opened #78 "visualisation of assembly metrics"
It would be easy to output a pretty HTML report using D3.js to visualise the assembly and its major metrics.

We could even make it interactive and have a nice tableau made with something like [dc.js](https://github.com/dc-js/dc.js) (D3 with crossfilter).

To make it easy for users we could have some nice publication quality figures in there too.

[2014-08-11 15:08] hyundoo opened #82 "Blast runtime error in computing comparative metrics"
When I try to run transrate to compute the reference based metrics i am getting a Blast runtime error. I tried to then compute this set of metrics on the sample data provided using the following command:

(sample data is downloaded from: https://github.com/Blahah/transrate/tree/master/test/data)

I get the following error (the same error that I am getting on my own data set):
../Transrate/0.3.1/ge

[2014-08-21 17:46] macmanes opened #86 "can't find Bowtie2, even though it exists."
Transrate can't find Bowtie2, even though it is there:

[code]

The error

[code]

Bowtie2 is there:

[code]

I have some failure when trying to run `transrate --install-deps`

[code]

Checking dependencies
/home/macmanes/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/which_works-1.0.2/lib/which_works.rb:43: warning: Insecure world writable dir /share in PATH, mode 040777
/home/macmanes/.rvm/rubi

[2014-10-15 11:42] blahah opened #93 "print help message when run with no arguments"
At the moment, we get this:

[code]

It's ugly and scary. We should be kind to our users and just print the help message.

[2014-10-17 10:14] #75 closed, assigned to blahah

[2014-10-17 10:14] #74 closed, assigned to nobody

[2014-10-17 10:14] #71 closed, assigned to nobody

[2014-10-17 10:15] #69 closed, assigned to nobody

[2014-10-17 10:15] #70 closed, assigned to cboursnell

[2014-10-17 13:17] macmanes opened #94 "timestamp with [ INFO]"
Suggestion for enhancement: Would be nice to have a timestamp in there:

`[INFO 17Oct14 0923AM]`

[2014-10-17 16:37] #68 closed, assigned to nobody

[2014-10-17 17:21] #93 closed, assigned to nobody

[2014-10-17 17:22] #94 closed, assigned to blahah

[2014-10-17 17:46] macmanes opened #96 "samtools sort flag"
I'm seeing this in top as the current process: `samtools sort -l 10`. Here is the command I'm using.

[code]

the -l flag should be no higher that 9.. I'm guessing you're trying to use multithreaded samtools sort here, which is the `-@` flag.

Also, -g debug does not seem to be being parsed appropriately, given I see no debugging info.

Is profiling supposed to slow down things substantially?

[2014-10-17 21:26] Blahah opened #97 "More explicit logging with debug option"
At the moment the `--loglevel debug` does nothing. We should add in a load more logging events to help understand what the program is doing at every operation, so both developers and interested users can see under the hood.

Hat tip: @macmanes in #96

[2014-10-18 10:18] macmanes opened #98 "crash during bam-read"
new error during bam-read:

The command used:

[code]

The error

[code]

The file that it complains about is there:

[code]

but the other has not been created

[code]

[2014-10-18 12:34] blahah opened #99 "hide the --profile option"
this is a developer-only option, it's confusing to show it to users

from #96

[2014-10-18 12:36] #96 closed, assigned to nobody

[2014-10-18 17:15] #98 closed, assigned to nobody

[2014-10-27 10:45] cboursnell opened #101 "Proper read pairing"
The gem `fix-trinity-output` will be installed as part of `transrate`. A description should be added to the readme letting users know that if they plan to use reads output from trinity that they should run them through `fix-trinity-output` first before running `transrate` as this will save time.
`fix-trinity-output --help`
`fix-trinity-output --left left --right right --output reads`

[2014-10-30 00:27] Blahah opened #102 "Optimal score cutoff selection"
We can scan through the contigs and calculate the optimal assembly score that can be achieved by filtering out contigs. At the end, report the optimal assembly score and the contig score cutoff that achieves it.

[2014-11-04 10:52] #14 closed, assigned to blahah

[2014-11-04 10:55] #101 closed, assigned to nobody

[2014-11-04 10:55] #86 closed, assigned to nobody

[2014-11-04 11:00] #67 closed, assigned to nobody

[2014-11-04 11:23] #15 closed, assigned to nobody

[2014-11-04 11:23] #3 closed, assigned to blahah

[2014-11-04 17:08] #99 closed, assigned to blahah

[2014-11-07 02:41] Blahah opened #104 "Consider replacing eXpress with Salmon"
eXpress has been very good to us, but perhaps it's time to move on.

Reasons:

- [Salmon](https://github.com/kingsfordgroup/sailfish/tree/develop) is super, uber, mega fast while eXpress is only quite fast
- eXpress is limited to 3 threads, Salmon has no limit
- Salmon is actively developed by someone unlikely to abandon it any time soon (@rob-p), while eXpress developer has left academia

In orde

[2014-11-17 10:58] blahah opened #107 "Move Cmd to its own gem"
We use our little `Cmd` wrapper for Open3 in every project - we should make it a gem.

[2014-11-24 11:32] Blahah opened #108 "Make setup for HPC machines easier"
On some HPC setups the administrator needs to install dependencies themselves as modules. We should provide specific instructions for HPC machines, both for installation and running, that allow these users to work with modules rather than using `transrate`'s dependency installer.

What that means is that at minimum, for every release, we need to provide a list of the dependencies and exact version

[2014-12-06 17:20] #73 closed, assigned to nobody

[2014-12-11 22:24] Blahah opened #112 "transrate score should be included in assembly results csv"
reported by @macmanes

[2014-12-19 20:21] Blahah opened #113 "move bin functionality to the main lib"
At the moment there is too much functionality coded in https://github.com/Blahah/transrate/blob/master/bin/transrate. We should move everything that isn't only relevant to running that file into classes in the main library (probably all into Transrater). i.e., only the argument parsing and intialising and running a Transrater should be left in the bin

[2014-12-24 12:39] blahah opened #114 "add a progress meter and estimate of time remaining"
idea from @macmanes

[2015-01-08 11:29] macmanes opened #117 "fasta headers in vsearch clustered assembly breaking comparative metrics part"
Transrate beta1, tripping up during analysis of comparative metrics, on vsearch headers.

	transrate -a 20M.ec.P2.score.vsearch.Trinity.fasta -r ../Mus_musculus.GRCm38.pep.all.fa \
	-l /mouse/feeding/SRR797058.P2_1P.fq \
	-i /mouse/feeding/SRR797058.P2_2P.fq \
	-o 20M.ec.P2.score.vsearch -t 24

Contig and read-based metrics run fine, but at comparative metrics section broken:

    [ INFO] 2015-01-

[2015-01-08 12:02] torognes commented on #117
I could fix this in vsearch if it does not conflict with usearch compatibility.

What was the vsearch command line used to generate 20M.ec.P2.score.vsearch.Trinity.fasta?

Have you previously generated this file using usearch and obtained results without the semicolon?

Another vsearch user recently asked me to put the semicolon in at the end of the header line, but it might be in a different cont

[2015-01-08 12:13] macmanes commented on #117
vsearch command:

	vsearch --fasta_width 0 --threads 20 --id .99 \
	--cluster_fast 20M.ec.P2.score.Trinity.fa --consout vsearch.fa

To vsearch.fa I added the long contigs (>15000bp) to the final assembly file as per https://github.com/torognes/vsearch/issues/52 . Let's see what @Blahah has to say.  If this is a transrate fasta parsing that can be easily remedied, then maybe that is the most parsim

[2015-01-08 13:07] torognes commented on #117
It seems like usearch includes that trailing semicolon in a similar command so I do not want to remove it in vsearch.

[2015-01-08 13:18] Blahah commented on #117
the problem appears to be that blast is stripping the trailing semicolon in its output, whereas the BioRuby FASTA defline parser doesn't strip it. So when we're matchin up BLAST hits with contigs, they don't match. I don't think this is VSEARCH's fault (or transrate's) - it's BLAST that's doing the weird thing.

However, since BLAST is a lumbering leviathan that we are unlikely to be able to chang

[2015-01-08 14:22] macmanes commented on #117
Something like `sed -i s'/;$//' filename` should work, assuming we're only targeting semicolons!

[2015-01-08 21:41] #117 closed

[2015-01-08 21:42] Blahah commented on #117
This will be in the next beta @macmanes - should be out in the next day or so

[2015-01-08 21:45] Blahah commented on #6
No longer necessary

[2015-01-08 21:45] #6 closed

[2015-01-08 21:49] Blahah commented on #112
this will be in the next beta

[2015-01-08 21:49] #112 closed

[2015-01-12 22:50] Blahah opened #119 "v1.0.0.beta2 release checklist"
- [x] compile latest transrate-tools for all platforms and include in `deps.yaml`
- [x] compile latest salmon for all platforms and include in `deps.yaml`
- [x] compile latest SNAP for all platforms and include in `deps.yaml`
- [x] remove samtools dependency
- [x] check tests & test coverage

[2015-01-23 14:00] Blahah opened #121 "bugs in SNAP dependency"
https://github.com/amplab/snap/issues/46
https://github.com/amplab/snap/issues/44

blocking release of transrate v1.0.0.beta2

[2015-01-28 13:42] Blahah opened #122 "allow compressed reads as input (fastq.gz, fastq.bz2)"

[2015-02-05 23:07] #121 closed

[2015-02-05 23:07] Blahah commented on #121
dealt with this for now by cutting my own release with fixes: https://github.com/Blahah/snap/releases/tag/v1.0dev.67.trfix1

[2015-02-07 23:16] #119 closed

[2015-02-07 23:16] Blahah commented on #104
implemented in v1.0.0.beta2 :)

[2015-02-07 23:16] #104 closed

[2015-02-07 23:19] Blahah commented on #108
There's some work towards this in v1.0.0.beta2. We have two improvements:

1. running `transrate --install-deps` will first try to install into the ruby gems bin directory. If that is not writable (usually because the ruby install is system-wide), it will create `~/.local/bin` if it doesn't already exist and install in there. The install location is dynamically, temporarily added to the system PAT

[2015-02-07 23:20] Blahah commented on #97
In v1.0.0.beta2, the `--loglevel debug` option will add a stacktrace to any error log message. With any lower loglevel, the stacktrace is suppressed for a cleaner user experience.

[2015-02-07 23:21] #82 closed

[2015-02-07 23:21] Blahah commented on #53
This is present in v1.0.0.beta2

[2015-02-07 23:21] #53 closed

[2015-02-08 00:21] Blahah opened #124 "not passing --threads to salmon, defaults to 8 always"
noticed by @macmanes

[2015-02-08 01:54] Blahah commented on #124
fixed in a61cde3db77d5b221f03996a32ff21642b3047d5

[2015-02-08 01:54] #124 closed

[2015-02-08 18:44] Blahah commented on #102
the optimal cutoff selection will now be part of transfix: https://github.com/cboursnell/transfix-paper

[2015-02-08 18:45] #102 closed

[2015-02-10 08:48] Blahah opened #126 "dependencies need to be rebuilt for compatibility with older systems"
current SNAP build requires GLIBC_2.14. Need to either static compile in glibc, or just rebuild all the dependencies on an older system.

[2015-02-15 12:01] macmanes opened #127 "new Trinity fasta headers causing problems"
There has been a change in the https://github.com/trinityrnaseq/trinityrnaseq fasta headers that does not work well with the Transrate fasta parser. Ppecifically, with Transrate considering only the parts of the header before the 1st space or `|`, TR20 is considered non-unique in the below example.

[2015-02-23 21:05] macmanes opened #131 "beta3 install issues"
Working with the new beta3 binary

    1.0.0.beta3

running:

    transrate -t 10 -a new.trinity.20M.ec.P2.Trinity.fasta \
    -r ../Mus_musculus.GRCm38.pep.all.fa -l /mouse/feeding/SRR797058.P2_1P.fq \
    -i /mouse/feeding/SRR797058.P2_2P.fq

error:

    Dependencies are missing:
    - blastplus (2.2.[0-9])
    To install all missing dependencies, run:
    transrate --install-deps

install-deps

[2015-02-24 01:28] macmanes opened #132 "beta3 bug in calculating read diagnostics"
This error crops up as SNAP ends but before SALMON begins.

    transrate -t 10 -a new.trinity.20M.ec.P2.Trinity.fasta -r ../Mus_musculus.GRCm38.pep.all.fa \
    -l /mouse/feeding/SRR797058.P2_1P.fq -i /mouse/feeding/SRR797058.P2_2P.fq

error:

    [ INFO] 2015-02-23 19:33:13 : Calculating read diagnostics...
    /share/transrate-1.0.0.beta3-linux-x86_64/lib/app/lib/transrate/read_metrics.rb:63:in

[2015-02-24 18:48] Blahah commented on #131
thanks, fixed in 4f663faed9eca1c3530849165beb7f43071e336b and 2223e6ae8de1f4d7baf1b96e5e3aa3cc189d24b5

[2015-02-24 18:48] #131 closed

[2015-02-24 18:52] Blahah commented on #127
I'm not sure yet about the best solution to this problem.

The problem stems from the fact that Trinity has moved to using a system that is very non-standard in practise, but that the NCBI claims is standard and uses in its own headers. NCBI databases like genbank use the format `>db_identifier|sequence_identifier`, while almost every other system uses `>sequence_identifier|other description`.

Tr

[2015-03-24 08:53] #126 closed

[2015-03-24 08:54] #108 closed

[2015-03-24 08:54] #49 closed

[2015-04-02 17:05] Blahah commented on #55
All these issues have either been solved, or are now redundant as we have moved to SNAP

[2015-04-02 17:05] #55 closed

[2015-04-02 17:06] Blahah commented on #97
Further increments on this issue are being moved to v1.1 milestone

[2015-04-02 17:10] Blahah commented on #56
With version 1 of transrate we have focussed on the reference-free assembly score. This is calculated for each contig, and the assembly as a whole. The contig-level score has four components, only one of which really depends on the read pairing information. However, I think it is the most important component. We *could* just not calculate that component if the user only has single-end reads, but w

[2015-04-02 17:18] Blahah commented on #132
I've not been able to recreate this. I think we'll have to leave this open and revisit if we can get a reproducible example.

[2015-04-02 17:21] Blahah commented on #54
This is the link: http://www.ncbi.nlm.nih.gov/CCDS/CcdsBrowse.cgi

[2015-04-03 13:10] Blahah commented on #127
The Trinity devs have agreed to change their output FASTA entry ID format to `TR_c_g_I` rather than `TR|c_g_i`, which will solve the problem from their next release onwards (see https://github.com/trinityrnaseq/trinityrnaseq/issues/21).

We still have the issue that any assemblies produced using the affected versions of Trinity will cause a parsing problem. Two options come to mind:

1. We add a w

[2015-04-13 01:53] nestorwendt commented on #132
I had the same error. But when I ran transrate again, using the same parameters, it worked just fine.

[2015-04-13 12:15] macmanes commented on #132
Do you have 2 different versions of Transrate installed on your system? Also, does it throw an error, or just hang 'forever'.

[2015-04-13 15:46] nestorwendt commented on #132
I'm using transrate 1.0.0.beta3 from Bintray on Ubuntu Server 14.04.2. I had transrate installed on RVM, but I removed it before getting this error. The only change in my installation is the salmon binary. I'm using the ubuntu 14.04 version, since I was encountering problems with the default salmon binary aswell.

Here's the command:
`transrate -a assembly.fa -l all-1.fastq -i all-2.fastq -t 9`

I

[2015-04-23 10:26] Blahah opened #134 "Add syntax for supplying multiple fastq files to docs"
see https://groups.google.com/d/msg/transrate-users/eCHEJKzhwO0/o9e5a5CVJQwJ

[2015-05-11 09:24] Blahah opened #135 "Allow user to specify contig-filtering cutoff"
In addition to the learned optimisation, allow the user to specify a contig score cutoff, and output a file with all contigs scoring above that cutoff, as well as the assembly score of that subset.

[2015-05-12 23:28] Blahah opened #136 "Report all metrics to appropriate number of significant figures"
Currently they are all reported just by printing the floats.

[2015-05-12 23:51] macmanes opened #137 "dumb user mistake reveals strange behavior"
When transrate is run incorrectly,

     /share/transrate-1.0.0.beta3-linux-x86_64/transrate -a trin.fa -r PE_MBE_MDM_41_index19.trim.Phred2_1P.fq -l PE_MBE_MDM_41_index19.trim.Phred2_2P.fq

you get a very odd and incorrect error message.

     /share/transrate-1.0.0.beta3-linux-x86_64/lib/app/ruby/lib/ruby/gems/2.2.0/gems/bundler-1.7.12/lib/bundler/runtime.rb:222: warning: Insecure world writable

[2015-05-13 09:06] Blahah commented on #137
Ah, so I think there are two problems here.

Firstly, `-l` and `-r` intuitively should refer to the left and right read files, but `-r` is actually the reference, with `-i` meaning right reads. This has been fixed in the latest code and will be pushed in the final release of v1.

Secondly, what's happened above is that the reads were treated as the reference, which internally is represented using

[2015-05-13 09:17] Blahah opened #138 "Add interpretation guide to help"
Users are reporting confusion about how to interpret their results. We should have a detailed guide to interpretation in the documentation.

[2015-05-20 19:26] standage commented on #127
Just ran into this problem and solved it temporarily with a quick sed command. I think either fix suggested for the long term would work.

You mentioned that NCBI's syntax is non-standard in practice, although that has not been my experience. I've been referred to this document (see **Fasta Defline Format** section) several times as the authoritative spec on the topic, and I've seen its use (espec

[2015-05-20 19:37] standage opened #140 "Add support for BLAST DB aliases"
I have the NCBI non-redundant protein database downloaded on my server. When I want to make species- or clade-specific databases (i.e. all the Hymenoptera, or all the Hexapoda, etc.), instead of downloading those sequences again in Fasta format I simply download the GI numbers from NCBI and use `blastdb_aliastool` to create a database alias for that data set. No new sequences are downloaded, and s

[2015-05-21 08:24] Blahah commented on #140
Thanks for the suggestion, this looks like a good idea. We actually use the reference FASTA in two ways:

1. in transrate ([here](https://github.com/Blahah/transrate/blob/master/bin/transrate#L220) and [here](https://github.com/Blahah/transrate/blob/master/lib/transrate/comparative_metrics.rb#L52-L138)), to create a hash that allows rapidly retrieving details of a reference sequence (useful when c

[2015-05-21 08:38] Blahah commented on #113
I actually think that we should reduce the binary to just a few lines, so everything is testable. For example see http://technicalpickles.com/posts/managing-binaries-with-jeweler/

[2015-05-25 11:16] Blahah commented on #122
Nick Schurch reports that this actually works without any modification.

However, here we parse the read file directly:

- https://github.com/Blahah/transrate/blob/master/lib/transrate/read_metrics.rb#L100-L117

This will need updating to handle compressed read files.

[2015-06-05 18:22] Blahah opened #141 "Integrate bindeps into release packaging process"
We should be automating the download of binary dependencies for packaging release, rather than depending on them being in the correct directory already.

[2015-06-08 12:09] Blahah commented on #132
This might be cleared up by moving to Salmon `v0.4.0` in transrate `v1.0.0.beta4`. If either of you experience it again with this new version please let me know.

[2015-06-10 08:48] Blahah opened #142 "Create a wiki with some extra help"
We provide help on the website, but we assume certain background knowledge.

The only example I have noticed so far is in the installation instructions:

Some users will not know how to do these things. So we should have a step-by-step guide for Linux and one for OSX. Then we can link to it from a small piece of text next to the install instruction that says _how do I do that?_

[2015-06-10 11:03] Blahah opened #143 "--help message should be as succinct as possible"
Users don't want to go to a man page or have to scroll to read the help. It should all fit easy on screen.

At the moment we have a large list of example commands - we should move these to a separate command: `transrate --examples`, which will free up lots of space.

[2015-06-11 14:42] #143 closed

[2015-06-15 13:51] #136 closed

[2015-06-18 10:02] amabdelhaliem opened #144 "What does this error mean? Error: option '-r' specified multiple times"

[2015-06-18 10:04] Blahah commented on #144
It means exactly what it says - that you specified the `-r` argument multiple times in the same command. Can you paste your command here?

[2015-06-18 10:06] amabdelhaliem commented on #144
WOW that's really a quick response!
this is the command causing the problem:
~/programs/transrate-1.0.0-linux-x86_64/transrate --assembly ~/db/Fo2-Fo3-deNovo/trinity_out_dir/Trinity.fasta --left left.fq --right right.fq -threads 30 --outfile Transrate_out

[2015-06-18 10:07] amabdelhaliem commented on #144
thanks.

[2015-06-18 10:09] Blahah commented on #144
the problem is that you used only a single `-` before `threads` - it should be `--threads`. Arguments with a single `-` are treated as single-letters arguments, so it was interpreted as `-t -h -r -e -a -d -s` :)

The full command you want is...

[code]

[2015-06-18 10:09] #144 closed

[2015-06-18 10:13] amabdelhaliem commented on #144
Loading assembly :)
fantastic, you are right, thanks Richard.

[2015-06-18 10:15] Blahah commented on #144
great! enjoy transrate :)

[2015-06-30 10:15] macmanes opened #146 "How to evaluate differences in transrate score"
Would be good info to include on the website.

How do you recommend people evaluate differences in transrate score? For instance how should I feel about a change in assembly strategy that results in score increase from .28 to .30? At what point do the differences in scores become ‘meaningful’.

[2015-06-30 10:26] macmanes opened #147 "Score database"
Would it not be cool to have a website/user created database where people can submit their transrate scores? Make a competition of this so to speak, with the real goal to track innovation in assembly.

Ask user to fill in the following details for instance.

1. Organism/tissue
2. Nature of read data (length, number of pairs into assembly)
3. Trimmed?
4. Error corrected?
5. Assembler?
6. Other deta

[2015-06-30 11:58] Blahah commented on #147
We have a couple of ideas for community resources and this is one we've considered - we could add an option to transrate to submit the results.

So, I do think it's a good idea and would like to see it happen. At the moment though I don't have the spare cycles to do it. I would be happy to collaborate on it or support someone else in doing it (maybe a student?).

Another idea we're thinking about

[2015-06-30 12:01] Blahah commented on #147
Another benefit of this is that it would essentially allow us to have a living version of [figure 6](https://github.com/Blahah/transrate-paper/blob/master/figures/figure_6/figure6.png) in the transrate paper, where we analysed the NCBI transcriptome shotgun archive.

[2015-07-03 21:34] Blahah opened #148 "Create a tidy directory structure to contain interim files"
Currently, passing in multiple assemblies with the same filename, but in different directories will break transrate. This is because the filename (without the path) is used as the identifier when creating interim files.

Also, the working directory fills up with lots of files. This is ugly and makes debugging and interpretation harder for users.

The solution should be to create a neat directory s

[2015-07-03 21:44] rozovr commented on #148
one thing that was odd to me was that this
-o, --outfile=<s>             Prefix filename to use for CSV output (default: transrate)
applies only to CSV files and not all the outputs produced

[2015-07-03 22:03] Blahah commented on #148
noted - I think we will eliminate the `-o` argument once this new structure is used, as it will not really be needed (it's easy to just rename the `transrate_results` if necessary)

[2015-07-04 06:07] rozovr commented on #148
Why not use it to specify the output path (or prefix) for everything? You can keep the working directory as the default

[2015-07-04 11:45] Blahah commented on #148
that seems a reasonable idea

[2015-07-04 17:46] #51 closed

[2015-07-05 00:46] tseemann opened #149 "transrate-1.0.0-linux-x86_64/lib/app/ruby/bin/ruby: No such file or directory"
[code]

[2015-07-05 00:47] tseemann commented on #149
Scratch that - it seems my .tar didn't fully extract!

[2015-07-05 00:47] #149 closed

[2015-07-05 11:13] Blahah commented on #149
Glad it wasn't a bug! Would be very glad to have your feedback @tseemann :)

[2015-07-06 08:45] cboursnell opened #151 "The install-deps option at command line"
Currently the command line help currently gives these options:

[code]
However if transrate is installed with the packaged binary the `read` programs `salmon` and `snap` are already installed.

[2015-07-07 13:45] #113 closed

[2015-07-07 13:45] #148 closed

[2015-07-07 13:46] Blahah commented on #148
@rozovr thanks, I implemented your idea and it will be in the next release

[2015-07-07 13:49] Blahah commented on #127
I've now added some extra information to the error message that explains why Trinity might be the problem, and how to fix if it so.

[2015-07-07 13:52] Blahah opened #153 "Log outputs from SNAP and Salmon to file to help with debugging"

[2015-07-07 14:04] #153 closed

[2015-07-07 14:25] #151 closed

[2015-07-07 14:27] Blahah commented on #134
Added to command-line help: 1a1404748180a88cf99bdce1ca698c396cd4762b

[2015-07-07 14:27] #134 closed

[2015-07-08 07:23] colindaven opened #154 "Merge and cufflinks"
Thanks for this program and the nice docs. It certainly fills a gap.

I am creating a large transcript set from 13 different tissues from a non-model organism. 12/13 sets come from Cufflinks, while the 13th comes from Trinity. How useful is Transrate for cufflinks derived datasets?

I'm afraid I couldn't find details on the merge command in the documentation.

More concretely, pre transrate merge

[2015-07-08 09:41] Blahah commented on #154
Hi Colin,

It depends what your Cufflinks procedure was - did you just use the reads and the genome sequence, or did you pass in an existing genome annotation?

In the first case, you should be able to use transrate on the cufflinks assemblies as every putative transcript will be derived from the reads. However in the second case you will need to filter out contigs that match the existing annotati

[2015-07-09 10:41] colindaven commented on #154
Thanks for your answer and the positive outlook.

Certainly transcript merging is a very complex issue but is of critical importance for non-model organisms.

I agree, in most cases too many contigs/transcripts are kept from almost all approaches (eg. PASA, Cuffmerge).

[2015-07-09 10:41] #154 closed

[2015-07-11 18:20] macmanes opened #155 "similar score, very different assembly"
This is similar to https://github.com/Blahah/transrate/issues/146, so maybe I should have just included this comment there.

I have just used transrate to evaluate several assemblies, and in general get very similar numbers. This is fine, but the assemblies are in fact very different. The "good" assemblies vary in size from 20k transcripts to 200k. The reference coverage ranges from 25% to 35%, p_

[2015-07-14 19:24] camillescott opened #157 "snap fails on files without an fq/fa suffix"
Running the following command:

`transrate --assembly _work/lamp10.fasta --left _work/brain_paired.qc.fq.gz.keep.keep.abundfilt.1.fq --right _work/brain_paired.qc.fq.gz.keep.keep.abundfilt.2.fq --threads 16 --reference _work/danRer.pep.fa --output _work/lamp10.fasta.transrate-test`

Results in the run failing, and the following error output:
[code]

The issue appears to be that SNAP doesn't accept

[2015-07-16 12:54] amabdelhaliem opened #158 "Transrate and how the number of contigs with an ORF is defined"
Dear Richard,

Thanks for your very helpful tool Transrate. I was wondering how it defines the number of contigs with an ORF (n with orf ===>the number of contigs that had an open reading frame). Does this number mean the total number of unique ORFs in the assembly? And how does it define an ORF? Is it the traditional definition that it has to have start and stop codons only or does it also requir

[2015-07-21 16:30] cboursnell commented on #58
This would also be useful if someone wants to run snap beforehand and then give transrate the bam

[2015-07-22 12:57] macmanes commented on #155
@cboursnell any thoughts on this while @Blahah is otherwise occupied?

[2015-07-23 14:46] Blahah commented on #155
@macmanes sorry for the delay, and for any more delays in the near future. Were all the assemblies from the same reads?

[2015-07-23 14:52] macmanes commented on #155
No worries - I have experience with these issues as you know..

Assemblies 1 and 2, 3 and 4, 5 and 6, 7 and 8 used the same reads sets. Each of these sets was a smaller subset of a larger read set, which is what I used during transrate.

[2015-08-17 16:04] tseemann commented on #155
ping

[2015-09-19 01:26] mr-c opened #159 "license for transrate-tools?"

[2015-09-20 03:18] mr-c opened #160 "transrate Debian packaging"
Oh my, so many dependencies! Alas the biggest delay will be waiting for leaf packages to be accepted so those packages that depend on them can be sent in.

Dependencies that need packaging (default) or updates (as marked):
[code]

- [ ] Get membership to Debian Ruby team (my application has been submitted)
https://wiki.debian.org/Teams/Ruby/Packaging#Joining_the_pkg-ruby-extras_team

http://anonsc

[2015-09-20 04:11] mr-c commented on #160
This will be a three-phase submission:

1) transrate-tools, snap-aligner, ruby-fix-trinity-output, ruby-trollop, ruby-yell, libcereal-dev, libgff-dev, libspdlog-dev, libjellyfish-2.0-dev, libbwa-dev (update)
2) salmon
3) transrate itself

[2015-09-20 13:28] Blahah commented on #160
@mr-c this is heroic! And very much appreciated. What can we do to support it?

[2015-09-27 20:52] mr-c commented on #160
@Blahah Thanks :-) The licenses need clarifying, see https://github.com/Blahah/transrate/issues/159.

In general it seems that the Ruby community is a fan of the MIT license and not putting this in each file nor having a copyright line. Alas this is rather confusing as
[multiple versions exist, all with the same name](https://en.wikipedia.org/wiki/MIT_License#Various_versions). When documenting th

[2015-09-27 21:52] Blahah commented on #160
Can I deal with that by just putting a LICENSE file in the repo (see https://github.com/Blahah/transrate-tools/commit/215f661ac19fe847da62f49f56e6b3599aa81b72)?

[2015-09-27 21:55] mr-c commented on #160
For transrate-tools & #159 yes, that is required; thanks!

A copyright line in each file would be nice too.

[2015-09-27 21:55] mr-c commented on #159
Fixed in https://github.com/Blahah/transrate-tools/commit/215f661ac19fe847da62f49f56e6b3599aa81b72

[2015-09-27 21:55] #159 closed

[2015-09-27 21:58] Blahah commented on #160
You're right, I never put the license in every file because I find it aesthetically unpleasant - a distraction from the pure utility of the code. But now that you mention it, I see why it would be useful!

Is there some convention for stating the license/copyright as simply as possible?

[2015-09-27 22:17] mr-c commented on #160
:-)

I know of no convention, alas. Some licenses give specific guidance on how to use them in a source file; many do not.

For the MIT family of licenses it appears that the best bet is to include the entire license in the header as it is unversioned and so short. See: https://anonscm.debian.org/cgit/collab-maint/devscripts.git/tree/scripts/licensecheck.pl#n593

(DIB lab had the same issue with t

[2015-09-28 17:37] Blahah commented on #160
Putting the whole MIT license in seems horrible. Would a two-liner like this suffice?

[code]

[2015-09-28 17:39] Blahah commented on #160
Because honestly I'd rather just waive all rights in a short one-liner than have a big header in every file! I would feel sick every time I saw it!

[2015-09-28 18:29] mr-c commented on #160
:-)

This variation allows both the copyright and license to be detected:

[code]

[2015-09-28 21:40] Blahah commented on #160
OK, deal ;).

[2015-09-30 04:45] mr-c commented on #160
@Blahah https://wiki.debian.org/Teams/Ruby/RubyExtras/UpstreamDevelopers :-)

[2015-10-01 20:13] mr-c commented on #160
Transrate-tools has been accepted into Debian! https://tracker.debian.org/pkg/transrate-tools

[2015-10-02 12:54] macmanes opened #162 "interleaved reads"
Can we have an option of inputting interleaved reads, like from khmer/seqtk? Not sure if SNAP/salmon can handle this..

[code]

[2015-10-02 12:58] rob-p commented on #162
Hi @macmanes,

  It looks like SNAP has some code for this, but I'm not sure how well tested it is.  However, assuming that SNAP handles it and generates a valid BAM, Salmon is indifferent on how the raw reads were provided to the aligner.  That is, Transrate talks to Salmon only through BAM, so if SNAP handles it, it Salmon should be fine.

[2015-10-02 13:00] macmanes commented on #162
OK - cool!

[2015-10-02 13:13] Blahah commented on #162
Yeah SNAP can handle it, so we just need to add it to the Transrate interface. How about if left and right are the same file, assume interleaved? I'd prefer to avoid adding another argument.

[2015-10-02 13:22] macmanes commented on #162
might be asking for trouble with a non-standard CLI option.. I do get your point about not adding more options tho..

[2015-10-03 00:17] Blahah commented on #162
Interleaving is non-standard IMO (grumble grumble...). Are you thinking that the 'standard' would be to have a third argument, `--interleaved` or something similar?

[2015-10-14 11:52] macmanes commented on #155
@Blahah Any chance we can work on figuring this out. Very different assemblies should ideally, NOT have very similar scores. Assembly `8.Trinity.fasta` was done with 100M PE reads, while `2.Trinity.fasta` was done with a 10M subset of the 100M dataset. Their qualities are very different yet the optimal scores are remarkable similar. The raw scores are more dissimilar, but actually not by all that

[2015-10-14 16:54] Blahah commented on #155
@macmanes I think what's happening is that the highest-expressed transcripts are being well assembled in all subsets. So they define the 'optimal assembly' because they account for the vast majority of the reads.

This suggests two things:

1. your data is mostly those 'optimal assembly' transcripts
2. the expression-related bias in the transrate score is a real problem (I knew it was there, but d

[2015-10-15 11:11] macmanes commented on #155
obviously, happy to provide reads and assemblies as needed.

[2015-10-20 11:51] macmanes opened #163 "allow gzipped reference"
This fails, because the references is gzipped:
Seems like we should be able to input a gzipped reference, no?

[code]

error
[code]

[2015-10-20 17:53] Blahah commented on #163
Sounds like a sensible thing to support - +1

[2015-11-01 14:10] macmanes commented on #162
yes, `--interleaved` is what I was thinking about.

[2015-11-01 14:56] ctb commented on #162
+1

Interleaved supports streaming :>

[2015-11-01 14:56] ctb commented on #162
(What the heck does "non-standard" mean in this field, anyway?)

[2015-11-01 14:57] ctb opened #164 "Installation docs out-of-date wrt --install-deps"
http://hibberdlab.com/transrate/installation.html makes no mention of an argument to --install-deps, but:

[code]

[2015-11-01 14:58] ctb commented on #164
Seems like just specifying 'ref' works?

[2015-11-01 16:20] ctb opened #165 "snap link is broken in metrics documentation"
http://hibberdlab.com/transrate/metrics.html#contig-metrics

[2015-11-01 17:09] Blahah commented on #164
Oh yeah, thanks for report.

`--help` is correct:

[code]

[2015-11-01 17:11] Blahah commented on #162
Just that very few tools use it. khmer is the only thing I use frequently that does I think. But, users are in charge, so we'll add it :)

[2015-11-01 17:15] ctb commented on #164
[code]

help? :)

[2015-11-01 17:16] ctb commented on #164
(Trying to update transrate to use snap 1.0beta.20, which I compiled for my own machine.)

[2015-11-01 17:16] ctb commented on #164
Note also

[code]

just reports wanting [ref]

[2015-11-01 17:43] Blahah commented on #164
wait, what version of transrate do you have?

[2015-11-01 17:44] Blahah commented on #164
oh... it's because it's the binary package, which comes with all the read deps already installed. So the only option is to install the ref dependencies

[2015-11-01 17:44] ctb commented on #164
[code]

On Sun, Nov 01, 2015 at 09:43:45AM -0800, Richard Smith-Unna wrote:

--
C. Titus Brown, ctbrown@ucdavis.edu

[2015-11-01 17:47] Blahah commented on #164
so to make transrate use a version you compiled...

1. `cd $(dirname $(which transrate ))`
2. move your compiled `snap-aligner` to `./bin`
3. edit `./lib/app/deps/deps.yaml` to update the SNAP version

[2015-11-01 17:48] ctb commented on #164
On Sun, Nov 01, 2015 at 09:47:42AM -0800, Richard Smith-Unna wrote:

Ahh, #3 important.

[2015-11-02 15:01] ctb opened #166 "Allow disabling or caching of contig metrics calculation"
Calculating the contig metrics takes some time. Especially when debugging, this is annoying.  Should be able to do this just once, n'est ce pas?

[2015-11-02 17:46] Blahah commented on #166
Yes, we should. I think perhaps take a hash of the assembly and store it, along with the metrics, in an `#{assembly_name}.json`. On subsequent runs, check the hash for an assembly with that name matches the stored one, and if so reuse the metrics.

[2015-11-17 17:14] Blahah commented on #155
Just an update to say we've figured out what we want our solution to look like, and @cboursnell is just prototyping it. It's quite a big deal to get it done right and efficiently (without slowing down transrate too much), so we're doing it carefully.

[2015-11-19 15:06] wfaalajr opened #167 "support for single-end reads for read mapping metrics"
just wondering if you're planning to add an option wherein single-end reads are also supported just like in trinity (-single)...

thanks!

[2015-11-20 16:35] ctb opened #168 "in 1.0.1, passing in a .gz assembly yields a strange error"
if I pass in a gzipped fasta file for --assembly, I get

[code]
etc.

[2015-11-20 16:37] macmanes commented on #168
see https://github.com/Blahah/transrate/issues/163

[2015-11-20 16:42] macmanes commented on #167
single end reads add so little (e.g., no) information to these evaluation metrics, I think probably unlikely this functionality will be added.

[2015-11-20 16:43] ctb commented on #168
OK. I guess I would amend #163 to say, "or at least yield a reasonable error message" :)

[2015-11-20 16:43] #168 closed

[2015-11-20 17:22] Blahah commented on #163
from #167 - also show a sensible error message when we can't parse the assembly

[2015-11-20 17:26] Blahah commented on #167
indeed, single-end reads are not very useful. We actually drop them rather than use them in our assemblies, and we have no plans to use them in transrate because almost all the good quality information comes from the paired-end reads.

[2015-11-20 17:26] #167 closed

[2015-11-23 12:42] Blahah opened #169 "Other code coverage metrics"
- Structural/branch coverage
- MCDC
- Parameter space coverage

suggestions from Matthew Patrick

[2015-11-23 12:50] Blahah opened #170 "Use reference distribution comparison in numerical tests"
For tests of non-deterministic functions, have a pre-generated reference distribution and then run the test multiple times. Compare the test distribution with the reference (e.g. with Kolmogorov–Smirnov).

potentially using QuickCheck https://github.com/abargnesi/rantly

[2015-11-25 00:09] Blahah opened #171 "Account for heterogeneity of the sample by using background distribution of edit distance"
When we calculate the base identity support we should consider the background heterogeneity.

[2015-12-02 00:31] ljcohen opened #172 "suggested sed to fix assembly fasta header does not work"
I ran transrate with a fasta file from Trinity and got the error below. When I fixed the fasta with the suggested `sed 's/\|/_/' Trinity.fasta > Trinity.fixed.fa`, it appeared to insert '_' before each line:

On Ubuntu 14.04

root@ip-172-31-4-46:/mnt/mmetsp/Micromonas_pusilla/SRR1300455# head Trinity.fasta

CGAGACGGAGACGTGCGCCGCGATGAGCTTCTCCGGCGTGCGCGAGGAGCGCCTGAAGAC
GCCCCTGCCGAAGTCGCCCCCCCCGAAGTC

[2015-12-04 19:38] macmanes commented on #157
+1 on needing a fix here. Given khmer split-reads script appends .1 and .2 to the filename by default, which breaks SNAP, this is annoying. SNAP says you can specify filetype using the `-fastq` flag. Why not just add this - using transrate this is the only thing people should be passing anyway..

[2015-12-04 21:13] Blahah commented on #157
Seems sensible :)

[2015-12-07 18:43] Pinnipeds opened #174 "snap-aligner running single-threaded instead of multi-threaded"
I'm trying to run Transrate with read mapping option. I ran transrate-1.0.1-linux-x86_64/transrate --assembly /mnt/transrate/Trinity.blubber.fixed.fa \
--left /100G/assembly/left.fq \
--right /100G/assembly/right.fq \
--threads 8

However, the snap-aligner has been running single-threaded for over 2 days. Is this normal?

[2015-12-13 19:05] Blahah commented on #174
This is not normal! Possibly a bug in SNAP - there have been a few more bugfix releases since the last transrate release.

Some SNAP bugs are non-deterministic, so if you kill the process, delete any `.bam` files that have been created, and then re-run the transrate command, it may work fine. If not...

We'll push out a new transrate release very soon (tomorrow I hope) that will include the newest

[2015-12-16 09:06] sarangian opened #175 "transrate --merge-assemblies option shows error"
I am trying to run transrate with --merge-assemblies option

./transrate --assembly one.fa,two.fa,three.fa,four.fa --merge-assemblies merged_assemblies

This is showing the following error

transrate-1.0.1/lib/app/lib/transrate/cmdline.rb:38:in `block in run': undefined method `zip' for "merged_test":String (NoMethodError)
	from /home/metagenomics/software/transrate-1.0.1/lib/app/lib/transrate/cmd

[2015-12-17 22:42] Blahah opened #176 "users confused about metrics to report - write clear guide"
See https://twitter.com/MattOldach/status/677606860459933696

We need a clear guide to analysing transcriptome assemblies, and how to report the results.

[2015-12-29 10:22] macmanes opened #178 "make p_bad_mappings"
Write `p_bad_mappings` to assemblies.csv, like you do for `p_good_mappings`

[2015-12-29 10:30] macmanes opened #179 "add description for contigs segmented"
add description for `contigs segmented` on Transrate metrics page.

[2015-12-29 18:18] Blahah commented on #178
this is just `1 - p_bad_mappings` - is it worth adding a column for it?

[2015-12-29 18:21] macmanes commented on #178
you have `p_everythingelse` but I suppose you are right.. On the other hand, you already have like 33 columns, so what is one more...

[2015-12-29 18:27] Blahah commented on #178
I think for each thing we only report one way of expressing it, so e.g.

- `p_not_segmented` but not `p_segmented`
- `p_bases_covered` but not `p_bases_uncovered`
- `p_good` but not `p_bad`

etc.

I would definitely prefer to have fewer columns :). However, it might be a good idea to explicitly state in the documentation that `bad` is always `1 - good`, as there is no reason people should assume t

[2016-01-06 20:20] Blahah opened #180 "Record citations somewhere"
For the moment, I'll leave the ones I know about here:

- https://peerj.com/articles/1441/
- http://biorxiv.org/content/early/2015/12/30/035642

[2016-01-07 14:32] macmanes commented on #175
Any update on this issue?

[2016-01-07 14:45] Blahah commented on #175
cc @cboursnell could you take a look?

[2016-01-12 11:36] macmanes commented on #58
+1 for this. I'm trying to investigate some differences in TransRate/Detonate and having an easy way to know how Transrate does the mapping, via snap, would be helpful.

Think `--dry-run` like in a makefile..

[2016-01-12 12:09] Blahah commented on #58
You can get this behaviour currently by using `--loglevel debug`

[2016-01-22 09:35] ADAC-UoN commented on #175
Seem to still be having similar issues. Transrate installed by gem 22/12/16. Any suggestions?
Cheers Rich

[ INFO] 2016-01-22 09:24:52 : Merging assemblies into one file...'merged_assemblies'
/usr/local/lib/ruby/gems/2.0.0/gems/transrate-1.0.1/lib/transrate/cmdline.rb:36:in `block in run': undefined method `zip' for "merged_assemblies":String (NoMethodError)
	from /usr/local/lib/ruby/gems/2.0.0/ge

[2016-01-22 11:55] mr-c commented on #160
snap-aligner has been accepted: https://tracker.debian.org/pkg/snap-aligner

I've received a series of apologies from a debian-ruby team member apologizing for the delays in reviewing my ruby packages.

[2016-01-25 21:09] AndrewIrwin opened #181 "Packaging in salmon (on OSX 10.10.5)"
I'm trying to use transrate v 1.0.1 but running into problems with Salmon. The version installed with transrate is 0.4 which (a) gives a warning that it is not the current version and (b) crashes with the unhelpful message "salmon failed".

I installed the current salmon 0.6.0 and replaced the binary in the transrate bin directory, but now I get

[ERROR] 2016-01-25 17:04:42 : Version Info: This is

[2016-01-25 21:29] rob-p commented on #181
Hi @AndrewIrwin, The unrecognized option is my fault.  Apparently, the `--useVBOpt` option was accidentally removed in the *alignment-based* mode of Salmon in the most recent release.  A new release is imminent, and I'll make sure I re-enable this option.  However, I would not recommend using transrate with a different version of salmon than the one with which it was packaged, as the output format

[2016-01-25 21:37] Blahah commented on #181
@AndrewIrwin I suggest the following to help isolate the problem:

1. delete the transrate output directory that was created when you ran the command that crashed
2. re-run transrate as before, but add `--loglevel debug`

You should now see some more useful information printed to the screen.

[2016-01-26 16:20] AndrewIrwin commented on #181
The software terminates without errors when I add the “—loglevel debug” option.

If you are interested, I’d be happy to send you any of the input or output.

Andrew

On Jan 25, 2016, at 5:37 PM, Richard Smith-Unna <notifications@github.com<mailto:notifications@github.com>> wrote:

@AndrewIrwin<https://github.com/AndrewIrwin> I suggest the following to help isolate the problem:

  1.  delete the tr

[2016-01-26 16:42] Blahah commented on #181
Did you delete the output directory before running with `--loglevel debug`? If not, please do that first and re-run it.

If you had already deleted the output directory, the error was either a one-off (process got killed, etc) or a nondeterministic bug. Unless we see any more cases, we'll assume it's the former :)

[2016-01-26 16:46] AndrewIrwin commented on #181
Richard,

A clarification: the error still occurs, sometimes. I’ve run the following command 4 times and had 2 error-free runs:

transrate --assembly Trinity.fixed.fasta      --loglevel debug   --left ../norm/global/left.norm.fq  --right ../norm/global/right.norm.fq  > ${DIR}/transrate_assembly_reads.log 2>&1

I get a different number of good contigs each time.

The output and debug message from o

[2016-01-30 08:00] mr-c commented on #160
I'm preparing the salmon package (0.4.1) and I see that version 0.6 is out. @Blahah, when do you expect transrate to be updated to handle the format changes?

[2016-01-30 09:10] Blahah commented on #160
@mr-c we'll push a small patch soon addressing reviewer's comments, after which the next release will support the latest salmon. I guess late feb.

Thanks for all your hard work on this :)

[2016-02-04 00:31] ljcohen opened #182 "undefined method `length' for nil:NilClass (NoMethodError)"
I received the following error on Ubuntu 14.04, but the assemblies.csv results were output anyway. Is this something to be concerned about?
[code]

[2016-02-10 15:41] moldach commented on #127
OMG I'm running into this problem right now. Can either Rob or Daniel tell me how to fix the this with the sed command?  I've been trying for like 3 days on a work around, thought I got close but the | is still pooching things in this downstream pipeline even if i use regex to grab all the unique numbers  (e.g. 's/>TR(\d+)(\Sc+)(\d+)(\Sg+)(\d+).+/TR$1$2$3$4$5$6$7\tisogroup$1$3$5$7/')

[2016-02-19 17:12] Blahah commented on #175
Fixed in #175, will be in release `1.0.2` later today

[2016-02-19 17:12] #175 closed

[2016-02-19 17:18] Blahah commented on #182
@ljcohen apologies that I missed this issue. It looks like for some reason you have a contig with no sequence - or possibly your FASTA file failed to parse. If you're still seeing this error I can give live help in the gitter chat room https://gitter.im/Blahah/transrate

[2016-02-19 17:38] #172 closed

[2016-02-19 18:09] #165 closed

[2016-02-19 18:23] #179 closed

[2016-02-19 18:28] #164 closed

[2016-02-19 18:30] #132 closed

[2016-02-19 18:31] #97 closed

[2016-02-19 18:32] Blahah commented on #18
More assembly-level metrics is not really a direction we want to go in.

[2016-02-19 18:32] #18 closed

[2016-02-24 11:35] macmanes opened #183 "to many 'real' transcripts filtered"
Stemming from the observation that BUSCO scores often are substantially decreased in the Transrate 'good.fasta' file relative to the original assembly.

--> contig score should consider reference-based metrics if they are present

[2016-02-29 07:39] sjannielefevre opened #184 "transrate "stuck"?"
I am running a read-mapping based transrate command on a trinity assembly with paired-end reads. The mapping has been done, as confirmed by the presence of a 210gb .bam file (I have done mapping before so this is the right size). There have been no error messages. Currently, the output is "stuck" at the following:
[ INFO] 2016-02-23 13:07:04 : Calculating read diagnostics...
And has been for sever

[2016-02-29 08:23] Blahah commented on #184
It's quite possible that SNAP has got stuck and isn't doing anything. You could try killing transrate and then restarting - if the bam file has been created and is valid transrate will continue with the next steps.

[2016-02-29 11:17] sjannielefevre commented on #184
Thanks for the quick reply

I restarted it, and now it finished, but not succesfully.

This is the command I ran:
transrate-1.0.2-linux-x86_64/transrate --assembly Trinity_fixed.fa --left all_R1.fq --right all_R2.fq --threads 20 --output transrate/

I still only got to
[ INFO] 2016-02-29 09:54:00 : Calculating read diagnostics...

[ERROR] 2016-02-29 11:21:19 : Version Info: A newer version of Salm

[2016-02-29 11:18] sjannielefevre commented on #184
Sorry for the messy post, did not know it would look like that.

[2016-02-29 11:43] Blahah commented on #184
@sjannielefevre the issue is unrelated to the strand specificity of the reads - what happened in the later case is that the bam file was corrupt and had not been successfully written by SNAP.

This error in SNAP has been observed before but we haven't yet worked out what conditions cause it. Many users have found that deleting the transrate output and re-running from scratch will work.

Thanks for

[2016-02-29 11:48] Blahah commented on #184
@sjannielefevre on a closer read of the error log it looks like Salmon completed OK but then crashed when it had finished. Running the transrate command one more time without deleting the directory first might work.

We'll keep working on the bug. Thanks for your report

[2016-02-29 11:59] sjannielefevre commented on #184
Ok - I will try again, thanks!

[2016-03-01 08:03] sjannielefevre commented on #184
Just want to let you know that transrate completed now, without errors, after I just cancelled and then ran the command again without doing anything else.

It would be neat to have the strand-specific option, so I will look out for upcoming releases.

Thanks again.

Cheers
Sjannie

[2016-03-01 08:04] Blahah commented on #184
Great! Glad to hear it worked and thanks for your patience.

[2016-03-01 08:04] #184 closed

[2016-03-03 00:26] peterdfields commented on #127
The provided sed command can do some very strange things (underscores at the beginning of the fasta header and at the beginning of the assembled transcript). I found using:

sed -e 's/|/\_/g'

worked a bit better.

[2016-03-03 01:05] Blahah commented on #127
@peterdfields thanks - yes, the command in `v1.0.1` only works for the Mac version of OSX. In `v1.0.2` we give separate linux and OSX commands. Which version are you using?

[2016-03-03 01:08] peterdfields commented on #127
v1.0.1. Time to update!

[2016-03-14 22:52] IdoBar opened #185 "transrate stuck in "Calculating comparative metrics" step"
I've used transrate with the following command:
`transrate --assembly $DAVE_GG_DIR/GG_Gonads_de-novo.Trinity.fasta --reference ../Perciformes_proteins.pep.uniq.fasta --left $DAVE_GG_DIR/symlinks/bbduk_clean_GG_Gonads_R1.fq --right $DAVE_GG_DIR/symlinks/bbduk_clean_GG_Gonads_R2.fq --threads 32`
and got the following output
[code]

That was 4 days ago and it doesn't seem like transrate is producing

[2016-03-15 07:40] Blahah commented on #185
Hi Ido,

Sorry for the trouble you're having and thanks for reporting it.

Can you look inside the transrate output directory and tell me what you see there? I'd like to see whether transrate has run the BLAST steps - it may be that the BLAST outputs are huge (you have a lot of contigs) and it is taking a long time to parse.

[2016-03-15 12:20] IdoBar commented on #185
Hi,

By the look of the output directory content, it seems like the 2 BLAST steps were competed successfully (and are not that big), so I don't think that is the case:
[code]
I'm using Python 2.7.11 and Ruby 2.3.0 if that helps.

Thanks, Ido

[2016-03-15 12:30] Blahah commented on #185
Hmm that's pretty strange. Those are quite large blast results, but it shouldn't take so long to process them.

Your read metrics are already done - you could just kill the process. If you re-run it, it will find all the existing outputs and work with them so should rapidly get back to where it left off. If the problem was a one-off, it might then complete normally.

Can you let me know if this wo

[2016-03-15 16:12] IdoBar commented on #185
I'm trying that, meanwhile, this is the output that came out when I killed the process (Ctrl+C):
[code]
You'd might be able to find a clue there?

[2016-03-17 04:51] IdoBar commented on #185
I've re-run the analysis using the same command and it stalled again in the same step (for the last 36 hours).
Any ideas?

Cheers, Ido

[2016-03-30 13:57] ctb opened #186 "1.02 downloaded transrate install runs in install directory, not working directory."
See instructions here -- https://2016-march-non-model-organism-rnaseq.readthedocs.org/en/latest/n-stats-eval.html.  I have to run:

     transrate --assembly=/mnt/work/rna-assembly.fa

even when my cwd is /mnt/work, because transrate doesn't find the file otherwise:

    transrate --assembly=rnaseq-assembly.fa
    [ERROR] 2016-03-30 13:57:00 : Assembly fasta file does not exist:  /home/ubuntu/tran

[2016-03-30 13:59] ctb opened #187 "--install-deps help message is annoyingly wrong"
[code]

On the plus side, once you do specify 'ref' it works ;)

[2016-03-31 15:24] #187 closed

[2016-03-31 15:25] Blahah commented on #186
Ah, sorry about this. @macmanes and a couple of other users also pointed this out, and I've not had time to address it. Looking into it now.

[2016-03-31 15:28] #186 closed

[2016-03-31 15:29] Blahah commented on #183
Excellent idea - I will implement this in the next release that isn't a maintenance release.

[2016-03-31 15:30] Blahah commented on #185
@cboursnell looks like a crb-blast issue - any ideas?

[2016-03-31 15:31] Blahah commented on #181
In the next minor release we will update to the latest versions of SNAP and Salmon - hopefully the bug will be fixed in one of those, but if not we can revisit.

[2016-04-01 08:21] Blahah commented on #187
fix will be in v1.0.3

[2016-04-01 08:21] Blahah commented on #186
Fix will be in v1.0.3

[2016-04-02 04:03] jorvis opened #188 "File paths must be absolute"
My initial test run failed when I was used relative paths:

[code]

Each option --assembly, --left and --right failed if I just entered the file name, even though my cwd was their directory, and corrected only when I used the full path instead.

[2016-04-02 04:45] Blahah commented on #188
See #186 -  the fix has already been pushed and will be in the next release

[2016-04-02 04:45] #188 closed

[2016-04-02 05:18] Blahah commented on #188
Also - this issue was introduced in v1.0.2 - 1.0.1 should work fine :)

[2016-04-02 06:13] jorvis opened #189 "Transcriptome too large?"
My first run of transrate completed, but with errors in the snap portion like this:

`Trying to use too many overflow entries.  To index this genome, you either need a larger seed size or a larger location size.`

Attaching the full run command and output.
[transrate.txt](https://github.com/Blahah/transrate/files/200699/transrate.txt)

[2016-04-02 06:34] Blahah commented on #189
Indeed, it looks as though there is too much information in the transcriptome to fit inside the SNAP index with the seed size transrate has chosen.

It looks like there's some weird stuff in this assembly - your longest contig is 166,145 bases which is unfeasibly long. And there are 2.2 million bases, which is the size of a medium-large genome and much larger than any real transcriptome I've ever

[2016-04-03 17:07] Blahah commented on #141
Done in https://github.com/Blahah/transrate/commit/4be91fcefab9bd4c07badf5b0b730fbf9926c5b7

[2016-04-03 17:07] #141 closed

[2016-04-03 20:28] jorvis commented on #189
Yes, it's large.  I'm in the process of evaluating different merge/reduction tools for transcriptomics data.  That file is the combination of several different Trinity assemblies with Velvet/Oases ones with different parameters.  Trying to compare here with other reduction tools like TGICL, EvidentialGene, etc.

[2016-04-03 20:31] rob-p commented on #189
I'll just note here that (after fixing a kink in the 64-bit index) Salmon was able to process this giant transcriptome without too much trouble ;) --- yay fish!

[2016-04-03 20:39] Blahah commented on #189
@jorvis you might take a look at https://github.com/cboursnell/transfuse for merging/reduction - except transrate will need to be able to run on this transcriptome before transfuse can process it.

[2016-04-03 20:43] jorvis commented on #189
@Blahah, thanks, I'd be happy to do that.  Let me know when I should try a transrate update.  Is the snap issue with the entire transcriptome size or would filtering out the silly-long transcripts perhaps fix the issue?

[2016-04-04 09:21] jwidmann opened #190 "SNAP failed"
Hi,
i get the following Error when running transrate on my assembly:
[code]
Is this simply because I have too much input reads for SNAP to map,
or is this something else?
This is the command I used:

` transrate --assembly Trinity_allTissues.fasta --left Tissue1_left.fastq,Tissue2_left.fastq,Tissue3_left.fastq,Tissue4_left.fastq,Tissue5_left.fastq --right  Tissue1_right.fastq,Tissue2_right.fastq,T

[2016-04-04 17:51] blahah commented on #190
SNAP should be able to handle any number of input reads - more likely this is a bug. I am currently working through some SNAP bugs to see if I can pin down what causes them and ask the SNAP developers to fix them.

Have you tried running the same command again? The bug may be non-deterministic, in which case it might work the second time round.

[2016-04-05 09:07] jwidmann commented on #190
Yep, tried twice the same command, resulting in the same Error.
But maybe the third time is the charm, i'll give it another try.
Thanks for your fast reply :)

[2016-04-05 10:07] blahah commented on #190
I'm currently working on the next release of transrate which includes various fixes to SNAP - can you try it and see if it solves your problem? Download links below

- [linux](https://www.dropbox.com/s/8tdmderqdz7svqo/transrate-1.0.3-linux-x86_64.tar.gz?dl=0)
- [osx](https://www.dropbox.com/s/g24hvse4glat0k6/transrate-1.0.3-osx.tar.gz?dl=0)

[2016-04-05 10:09] blahah commented on #190
Ah, and please make sure to delete the output directory from the earlier runs, or give the new run a different output location.

[2016-04-05 10:17] blahah commented on #189
@jorvis it's probably to do with the very large number of transcripts, and what must be a huge amount of redundancy in the file. Quite likely you have many many copies of most transcripts, which means a read might have a very large number of equally likely candidate locations.

The 166,145 base sequence is certainly not a transcript - possibly it's a plastid genome (chloroplast?) or a contaminant.

[2016-04-05 13:10] jorvis commented on #189
OK, I'll look into de-duplication first.  The reads are just around 100bp (have been processed with Trimmomatic)

[2016-04-05 14:47] jwidmann commented on #190
Hmm, the next release gives the same error (but line 2283).
Mapping only this specific read set works fine.

[2016-04-06 05:13] jorvis commented on #189
An update.  I removed all transcripts under 200bp and over 100,000bp and the ran CD-HIT-EST to remove duplicates.  This reduced the 2,027,284 transcripts to 1,796,079.  Transrate failed on it again with the same "[ERROR] 2016-04-05 22:31:36 : Failed to build Snap index" message.

So I looked into the code and found this file where the snap index creation was happening:

transrate/lib/app/lib/trans

[2016-04-06 06:31] jorvis commented on #189
Index creation seems to work fine now, but then it fails during the snap step.  Going to sleep and think on it.

[ INFO] 2016-04-06 02:02:18 : Contig metrics done in 715 seconds
[ INFO] 2016-04-06 02:02:18 : Calculating read diagnostics...
[ERROR] 2016-04-06 02:15:31 : Snap failed
Welcome to SNAP version 1.0beta.18.

BigAllocator: allocating too much memory, 291281808 > 291281748
SNAP exited with

[2016-04-06 08:03] blahah commented on #189
that file is part of SNAP itself, a c++ file so it's compile already in the release. It's [here](https://github.com/amplab/snap/tree/master/SNAPLib) on the official SNAP repo.

Did you look at memory usage when running? Could you have run out of RAM?

[2016-04-10 10:12] el42008 commented on #181
Hi Richard,

I am trying to run transrate v 1.0.2 with some reads as evidence for my trinity assembly.

I got the following error:
[ERROR] 2016-04-10 11:08:18 : Version Info: Could not resolve upgrade information in the alotted time.
Check for upgrades manually at https://combine-lab.github.io/salmon
# salmon (alignment-based) v0.4.2
What should I do?

Cheers
Elena

[2016-04-10 15:18] rob-p commented on #181
Hmm, I don't know why that should result in an error, but it looks like salmon can't reach the outside world to check the version. Normally, that's fine (it just prints the above message and continues to quantify).  Does the alignment file produced by SNAP look ok?

[2016-04-11 10:24] el42008 commented on #181
Hi,

Thanks for replying so quick. The e15359 is when i used teh last version of
transrate. And e15377 it is when use the latest version. In the first one
fails because sailfish and in the second case because of salmon.

Cheers

2016-04-10 16:18 GMT+01:00 Rob Patro <notifications@github.com>:

[2016-04-11 14:11] rob-p commented on #181
For e15359, do you mean SNAP?  Sailfish was never part of transrate.  What I mean about the alignment file is, e.g. what is the size of the BAM file written by SNAP, is there any SNAP output in the logs, do you believe the alignment finished successfully, etc?  Unless there is some sort of timeout mechanism of which I'm not aware, failure to resolve the version message alone should cause transrate

[2016-04-13 08:23] simonvh opened #192 "Example command doesn't work"
[code]
when I try this, this results in the following message:

[code]

This using transrate-1.0.2-linux-x86_64.

[2016-04-13 10:32] blahah commented on #192
Thanks for reporting this - the reason this doesn't work is that the dependencies are already installed. We need to make that clear in the message.

[2016-04-14 07:06] Jorisvansteenbrugge opened #193 "Relative pathing doesn't work"
When running transrate from another folder than the binary is located I can't use file names in the current folder because the program expects them to be in the same folder as the binary. Therefore the absolute path is required.

[2016-04-14 07:34] blahah commented on #193
Thanks for reporting, this has been fixed in the latest code (see see #188) and is waiting for a bug in SNAP to be fixed before we push a new version.

[2016-04-14 07:34] #193 closed

[2016-04-18 10:29] abshah opened #194 "Installing dependencies with version 1.0.3"
Hi transrate users/developers,

Recently, I was trying to install transrate version 1.0.3, however, I couldn't get it to install the dependencies. My console output was :

`[root@gaiking transrate]# gem install transrate-1.0.3.gem
Building native extensions.  This could take a while...
Successfully installed transrate-1.0.3
Parsing documentation for transrate-1.0.3
Installing ri documentation for

[2016-04-27 03:55] JakeGoodall opened #195 "Read Diagnostics, SNAP failing"
Hi there,
Apologies if this is a silly question, but I am still very new to bioinformatics. I have a question regarding the generation of read diagnostics. I've run the example dataset though the 'Getting Started' protocol with no issues, but I can't seem to get my actual dataset to work. I can examine my contigs without any issues but when I try to add in my RNA-seq reads (Rcorrected and quality

[2016-05-02 05:56] meganrh19 commented on #185
Just fyi, I'm having the same issue - with the same output.

[2016-05-02 10:08] blahah commented on #185
Pinging @cboursnell again

[2016-05-13 23:37] jessicamizzi commented on #172
I am having the same issues as Lisa, and fixed it the same way. This is how I am installing transrate:

`cd
curl -O -L https://bintray.com/artifact/download/blahah/generic/transrate-1.0.1-linux-x86_64.tar.gz
tar xzf transrate-1.0.1-linux-x86_64.tar.gz

export PATH=$PATH:$HOME/transrate-1.0.1-linux-x86_64
echo 'export PATH=$PATH:$HOME/transrate-1.0.1-linux-x86_64' >> ~/.bashrc
export PATH=$PATH:$HO

[2016-06-06 14:03] blahah commented on #181
The latest release of transrate [v1.0.3](https://github.com/blahah/transrate/releases/tag/v1.0.3) now includes the latest version of SNAP and Salmon. Hopefully this will solve the problem - if not please re-open the issue. Many thanks for your patience :)

[2016-06-06 14:03] #181 closed

[2016-06-06 14:03] blahah commented on #194
Hi @abshah this was probably because v1.0.3 was not released yet, and you were building from an unstable state in `master`.

The latest release of transrate [v1.0.3](https://github.com/blahah/transrate/releases/tag/v1.0.3) now includes the latest version of SNAP and Salmon. Hopefully this will solve the problem - if not please re-open the issue. Many thanks for your patience :)

[2016-06-06 14:03] #194 closed

[2016-06-06 14:05] blahah commented on #195
Hi @JakeGoodall, sorry for the slow reply.

I think the problem was a bug introduced in the last version of Transrate.

The latest release of transrate [v1.0.3](https://github.com/blahah/transrate/releases/tag/v1.0.3) now includes the latest version of SNAP and Salmon. Please update and try your analysis again. Hopefully this will solve the problem - if not please re-open the issue. Many thanks fo

[2016-06-06 14:05] #195 closed

[2016-06-06 14:06] blahah commented on #189
The latest release of transrate v1.0.3 now includes the latest version of SNAP and Salmon, as well as your fix :).

Please update and try your analysis again. Hopefully this will solve the problem - if not please re-open the issue. Many thanks for your patience :)

[2016-06-06 14:06] #189 closed

[2016-06-06 14:08] blahah commented on #190
hi @jwidmann, the latest release of transrate v1.0.3 now includes the latest version of SNAP and Salmon as well as some other bug fixes. Please update and try your analysis again. Hopefully this will solve the problem - if not please re-open the issue. Many thanks for your patience :)

[2016-06-06 14:08] #190 closed

[2016-06-06 14:19] blahah commented on #192
@simonvh we've made the `--install-deps` instructions clearer both on the website and in the `--help` message for [v1.0.3](https://github.com/blahah/transrate/releases/tag/v1.0.3). Thanks again for reporting this.

[2016-06-06 14:19] #192 closed

[2016-06-06 14:20] blahah commented on #185
monthly ping for @cboursnell !

[2016-06-06 14:21] #182 closed

[2016-06-06 14:22] blahah commented on #178
we've stripped out some columns in v1.0.3, but we've still got too many. Closing this issue as we're not planning to put in `p_bad_mappings`, but we will be looking at reworking the output for clarity in the next major release.

[2016-06-06 14:22] #178 closed

[2016-06-06 14:24] blahah commented on #174
Our latest release is [v1.0.3](https://github.com/blahah/transrate/releases/tag/v1.0.3) - it includes a new version of SNAP and Salmon. Hopefully it fixes this, but if you still see it please re-open the issue.

[2016-06-06 14:24] #174 closed

[2016-06-06 14:29] #58 closed

[2016-06-27 09:37] har-wradim opened #198 "SNAP seed size"
Transrate uses a fixed seed size of 23 for `snap-aligner index` which is the recommended optimum only for 100 nt reads. Would be great to have this argument either exposed to the user or calculated on the fly based on the read length, e.g.: `max(RL*0.23, 17)`.

[2016-06-27 09:38] har-wradim commented on #198
As a workaround for now one can of course create the index himself before running transrate.

[2016-06-27 09:56] blahah commented on #198
@har-wradim excellent point! We are going to be dropping SNAP in the next major version, but if we have several issues to address with a minor version release in the meantime I will include this.

[2016-07-20 00:56] dcopetti opened #199 "long time to calculate read diagnostics"
Hello,
I have a Transrate run that since several days it is stuck at the read diagnostics step:
[code]
(it is 12 days now.) The command was
`transrate --assembly=Sd5D_20p_Trinity.fasta --left=Sd5Db_20_R1p.fq --right=Sd5Db_20_R2p.fq --reference=proteins.fasta --threads=12 –output=Sd5D_20p_transrate`
the fastq files are 40 Gb each, the transcriptome is 220 Mb (331k transcripts, N50 556 bp). Htop sho

[2016-07-21 12:38] blahah commented on #199
@dcopetti I think this might be a rare bug in SNAP. You might find that killing the job, deleting the BAM files for that run, then re-running that same command, will allow it to complete normally.

[2016-08-03 19:56] lplough opened #200 "Error in snap beta installation"
There seems to be something up with the install of snap (1.0beta.18) as a dependcy:

$> transrate --install-deps all
Checking dependencies
Installing snap (1.0beta.18)...
[ERROR] 2016-08-03 14:52:30 : Failed to install:
 - snap:1.0beta.18

Downstream, the read based assembly metrics  routine fails because snap is not installed. This is the actual problem of course. Interestingly, I actually alread

[2016-08-05 07:34] blahah commented on #200
how did you install transrate? using the binary install or the ruby gem?

[2016-08-10 19:58] eeflynn opened #201 "Transrate's salmon parameters associated with "missing" mapped reads mystery"
Looking forward to the next update that moves away from SNAP, but until then, here are some issues I've been having over the past two weeks and what eventually led to a "successful" run. Because the gitter chatroom is difficult to search/follow conversations across time, this seems like a better place to put together errors and possible troubleshooting steps.

**Transrate input:**
vertebrate (fish

[2016-08-19 14:47] lplough commented on #200
With ruby first. Then with the binary... Should I remove all instances of the install?

[2016-09-01 03:38] jorvis commented on #189
OK, so I just tried again with the latest version v1.0.3, and this was the output:

[code]

[2016-09-05 23:41] jpmam1 commented on #201
I've also experienced problems 1,2 and 3 (and implemented the same fixes as above, where applicable), and I'm 'stuck' at the same point:

Any ideas for addressing the salmon mapping issue would be very much appreciated!

[2016-09-28 13:23] brunolouro opened #202 "Dependencies are missing: - salmon (0.6.0)"
I've installed the packaged binary version on Ubuntu 16.04 LTS. Running just the basic assembly metrics is OK, but once it needs dependencies in the read-based run it states:

Executing the salmon in the bin directory, it states:

By checking `/lib/x86_64-linux-gnu/libc.so.6` it states:

So is pointing to recent version...is there any basic solution to this?

I'm running transrate in a PC because

[2016-09-30 11:55] chklopp opened #203 "Install transrate in docker image of ubuntu 16.04 / salmon:0.4 error"
Hi,

I'm trying to install transrate in a docker image of ubuntu 16.04.

Here are the commands I use :
apt-get install ruby-dev ruby make gcc
gem install transrate
transrate --install-deps all

The last installation instruction reports an error :
root@1a9ab23c5cdd:/# transrate --install-deps all
Checking dependencies
Installing snap (1.0beta.18)...
Installing bam-read (1.0.0)...
Installing salmon

[2016-10-04 16:24] sarjopp commented on #202
I'm getting the same error, but am running binary on CL (linux). Did you solve?

[2016-10-25 14:14] abshah opened #204 "SNAP failed"
Hi Transrate users and developers,

I encounter a strange error with transrate version 1.0.3

[code]

Is there a work around this or is there a way to pass arguments/flags to SNAP or salmon to get this to work ?

Best Wishes,
Abhijeet

[2016-10-29 07:51] hackerzone85 opened #205 "After installing transrate via ruby showing syntex errror"
[code]

[2016-10-29 19:18] blahah commented on #205
transrate is only compatible with ruby v2 and above as specified in the [installation documentation](http://hibberdlab.com/transrate/installation.html#advanced-installation)

We provide some instructions for upgrading ruby on that page too :)

[2016-10-29 19:18] #205 closed

[2016-11-02 10:03] abshah commented on #204
Hi Transrate users and developers,

I found a solution to this on the transrate users google group. You need to add this line between lines 39 and 40
`cmd << " -mcp 10000000" # maximum candidate pool size`
to the file transrate-1.0.3-linux-x86_64/lib/app/lib/transrate/snap.rb

Best Wishes,
Abhijeet

[2016-11-02 10:03] #204 closed

[2017-01-06 18:16] nktsk commented on #203
Hi,

I am having the same problem. I've installed salmon 0.6.0 and the latest version 0.7.2, both added to my PATH, but cant get transrate to locate them. Did you manage to sort it out?

Cheers,

[2017-01-09 13:14] chklopp commented on #203
We succeeded installing transrate in docker. Here is our docker file.
http://www.sigenae.org/drap/lib/src/Dockerfile

Ch+

[2017-01-09 13:14] #203 closed

[2017-02-03 17:32] AlesBucek commented on #157
I'm wondering, is there already a fix for this issue?

[2017-02-23 15:14] Jinjie-Duan commented on #190
Hi, @blahah ,I installed the latest version of transrate v 1.0.3. But I still got the same followoing message about SNAP failed. Would you please help on it? Thanks!

[ERROR] 2017-02-23 16:07:32 : Snap failed
Welcome to SNAP version 1.0dev.96.

mmap failed.
MemMapDataReader: fail to map /home/jjduan/python/01highQualityData/withoutN-trimlastbase/110902_SN132_B_L002_R2_GLQ-13b.fastq at 0,1966390515

[2017-02-24 12:55] Jinjie-Duan opened #206 "SNAP failed with Transrate v 1.0.3"
Hi,

I got the following error when running transrate v 1.0.3

[ERROR] 2017-02-23 16:07:32 : Snap failed
Welcome to SNAP version 1.0dev.96.

mmap failed.
MemMapDataReader: fail to map /home/jjduan/python/01highQualityData/withoutN-trimlastbase/110902_SN132_B_L002_R2_GLQ-13b.fastq at 0,1966390515
SNAP exited with exit code 1 from line 2283 of file SNAPLib/DataReader.cpp

I saw a previous issues #19

[2017-04-05 01:52] genizamt opened #207 "makeblastdb issues"
command run:
transrate --threads 8  --assembly transcripts_CCDR_T0-output-v2-cdhitest --reference Oryza_sativa.IRGSP-1.0.cdna.all.fa

contig metrics are generated, but errors out when generating comparative metrics:

/local/cluster/transrate/lib/app/bin/transrate:13:in `raise': BLAST Error creating database: (RuntimeError)

USAGE
  makeblastdb [-h] [-help] [-in input_file] [-input_type type]
    -

[2017-04-05 16:42] blahah commented on #207
how did you install transrate? It looks to me like transrate is trying to use a version of blast that you already have installed (`2.3.31`), rather than the one it needs (`2.2.29`)

You can either try `transrate --install-deps` or try the binary distribution of transrate from http://hibberdlab.com/transrate/installation.html

[2017-04-05 17:34] genizamt commented on #207
Thanks for the reply,

I work on a linux cluster -common tools like BLAST get updated
regularly. a local copy of transrate was installed by downloading the
linux binary, unpacking and adding the directory to the path.

$transrate --install-deps ref
Checking dependencies
All dependencies installed

Ill could try to install a local copy of 2.2.29, but a similar user had
the same makeblastdb problem.

[2017-04-05 18:26] blahah commented on #207
Thanks for reporting this - it's actually a bug with how we load the dependencies in a rare case.

Do you have access to edit the `/local/cluster/transrate/` file? Below I describe the fix depending on whether or not you can edit it:

### If you can edit the file

replace the line:

[code]

with:

[code]

this will fix it for everyone who's using it

### If you can't edit the file

when you run tr

[2017-04-05 18:38] blahah commented on #207
cc @cboursnell this is happening because bindeps installs to the `GEM_HOME` unless told otherwise or it can't find it: https://github.com/blahah/bindeps/blob/master/lib/bindeps.rb#L191.

We should either update the transrate wrapper bash script as above

[2017-04-05 18:39] blahah commented on #202
it's about time we updated the salmon dependency - it has a more sophisticated build setup now cc @cboursnell

[2017-04-09 21:32] RuiMMFaria opened #208 "Weird read mapping metrics on version 1.0.3"
Hi,

first thanks for developing Transrate, it has been very useful for my work.

I recently re-ran Transrate with the version 1.0.3 for some transcriptomes I assembled before with Trinity. However, some of the read mapping metrics are now different from before and look a bit weird (see below). In the current version, p contigs uncovered is always 1.0 in different transcriptomes from different spe

[2017-04-09 21:40] blahah commented on #208
hi @RuiMMFaria, indeed this looks pretty weird.

What command did you use to run transrate? And what kind of reads do you have? It's *very* unusual to have 0 potential bridges, which suggests to me that maybe your read pairing got messed up.

[2017-04-10 00:03] RuiMMFaria commented on #208
Hi,
those are paired-end data (illumina 100bp). Yes, I did not notice the bridges. I will try to take a look at that. The command was:
![image](https://cloud.githubusercontent.com/assets/25058540/24841837/65c4901e-1d85-11e7-97a4-b999946c6fa2.png)
But in one of the three assemblies I also tried Transrate version 1.0.1 and bridges are not zero and percentages of contigs not covered are low (and not

[2017-04-10 00:07] blahah commented on #208
@RuiMMFaria OK thanks for reporting - this seems like a bug. I'll try to take a look this coming week. We are long overdue a new version release anyway,

[2017-04-10 00:33] RuiMMFaria commented on #208
Hi blahah (sorry but really do not know your real name),
Thanks for the fast reply and for looking into it. Ok, I will use the new version when you release it to compare metrics.

[2017-04-10 00:43] RuiMMFaria commented on #208
Ah, I just remember one thing that I'm not sure if it is or not relevant (sorry, I'm not a computer scientist). When I installed  transrate version 1.0.3 for the first time I was having an error that some other people reported (related with Salmon): transrate-1.0.3-linux-x86_64/lib/app/ruby/bin.real/ruby: relocation error: /home/victaphanta/transrate-1.0.3-linux-x86_64/bin/librt.so.1: symbol __vds

[2017-04-27 06:25] mjfi2sb3 commented on #208
Hi,

I am also getting odd stats when I used transrate 1.0.3. I attach the assembly.csv for a run with v1.0.3 and another with v1.0.1. The read mapping rate for 1.0.3 is significantly less 1.0.1. Also, the potential bridges is zero in 1.0.3. Other metrics had me concerned too. Perhaps the most alarming is the number of lost transcripts.

[assemblies-1.0.1.xlsx](https://github.com/blahah/transrate/

[2017-04-27 10:01] blahah commented on #208
thanks @mjfi2sb3 - we definitely have a bug in 1.0.3

[2017-05-02 23:54] jdeyar commented on #208
Hello @blahah,

Referring to other posts regarding an issue with 1.0.3, I am having a similar SNAP error while running transrate. My error code is noted below.

Welcome to SNAP version 1.0dev.96.

mmap failed.
MemMapDataReader: fail to map /pylon2/bi4s8fp/jsdsmail/Transrate/Trim_TS6_T24.left.pe.qc.fq at 0,3765724304
SNAP exited with exit code 1 from line 2283 of file SNAPLib/DataReader.cpp

Any he

[2017-05-02 23:55] jdeyar opened #209 "SNAP Fail to run with 1.0.3"
Hello @blahah,

Referring to other posts regarding an issue with 1.0.3, I am having a similar SNAP error while running transrate. My error code is noted below.

Welcome to SNAP version 1.0dev.96.

mmap failed.
MemMapDataReader: fail to map /pylon2/bi4s8fp/jsdsmail/Transrate/Trim_TS6_T24.left.pe.qc.fq at 0,3765724304
SNAP exited with exit code 1 from line 2283 of file SNAPLib/DataReader.cpp

Any he

[2017-05-10 15:59] lgleason commented on #206
I am having this same issue.  Jinjie, did you ever figure out a way to get around this error?

Thanks!
Lani

[2017-05-10 16:35] blahah commented on #206
@Jinjie-Duan thanks for opening a new issue here, and @lgleason thanks for reminding me!

If either of you are able to upload somewhere a set of reads (as small as possible) that causes this error, that would really help us get it fixed.

[2017-05-10 16:42] blahah commented on #206
@Jinjie-Duan @lgleason actually, after reading the [SNAP code for the function that is errorring](https://github.com/amplab/snap/blob/master/SNAPLib/DataReader.cpp#L2282-L2318), it seems most likely to me that you're running out of memory.

Please could you try running the command again, and this time watching the memory of the process? On most linux systems you can do this by putting `/usr/bin/ti

[2017-05-16 19:41] hmarx commented on #202
I am having the same problem running on ubuntu 16.04 LTS. Has any progress been made to address this issue? Thanks! Hannah

[2017-05-18 17:08] XinpengQi opened #210 "Salmon (0.6.0) [jointLog] [warning] [Sampler.hpp]: Failed to sample an alignment"
Hi @blahah any updates for Transrate v1.0.3?

my snap.log seems fine:

Loading index from directory... 2s. 384271831 bases, seed size 23
Aligning.
Total Reads Aligned, MAPQ >= 10 Aligned, MAPQ < 10 Unaligned Too Short/Too Many Ns Extra Alignments %Pairs Reads/s Time in Aligner (s)
693,340,846 280,486,471 (40.45%) 330,208,110 (47.63%) 78,660,098 (11.35%) 3,986,167 (0.57%) 620,752,208 78.36% 124,387

[2017-05-18 17:16] XinpengQi commented on #210
I mean, Transrate v1.0.3 finished run:
[ INFO] 2017-05-17 15:11:51 : Writing contig metrics for each contig to /mnt/nfs/nfs2/xinpeng.qi/blueberry/TransRate/transrate_results/trinity_version4/contigs.csv
[ INFO] 2017-05-17 15:13:35 : Writing analysis results to assemblies.csv
However, the "p fragments mapped" is only 0.37.

[2017-05-24 15:45] lgleason commented on #206
Hi Richard,

Thanks for the response.  I'm currently running the command again (I
allocated 240gb of memory this time), and concurrently watching the memory
of the process, and will post an update with the output.  I'm actually
running this on a cluster...so far I have tried with various amounts of
memory; most recently, I got the same error with 120gb of RAM.  Do you have
a vague idea of how much

[2017-05-25 00:28] lgleason commented on #206
Even with 240gb of memory, I am still getting the same error, output below:

"ERROR] 2017-05-24 14:38:24 : Snap failed
Welcome to SNAP version 1.0dev.96.

mmap failed.
MemMapDataReader: fail to map /N/dc2/projects/DowdMCali/PE50/49w_1.fq at
0,6325218679
SNAP exited with exit code 1 from line 2283 of file SNAPLib/DataReader.cpp

Command exited with non-zero status 1
        Command being timed: "/N

[2017-05-25 10:09] blahah commented on #206
According to the output the process only used ~10gb of RAM, so it looks like the problem is a bug in SNAP or an issue with the input data. To confirm whether it's something specific about this file, could run transrate with just the 49* pair of read files?

[2017-05-30 14:59] XinpengQi commented on #210
@blahah confirmed Salmon0.8.2 works fine in my data!

[2017-06-09 21:15] lgleason commented on #206
When I run transrate with just the 49* pair of files, I get no errors and
everything runs normally.

When I use all original input files and increase the allocated memory to
480gb, I get a new error:

[ERROR] 2017-06-08 11:53:30 : Snap failed
Welcome to SNAP version 1.0dev.96.

FASTQ file doesn't end with a newline!  Failing.  fileOffset = 801439481,
validBytes = 263
SNAP exited with exit code 1 f

[2017-06-11 07:14] blahah commented on #206
Something like this (run in a directory that only contains the fq files) maybe:

[code]

Then for any files listed do:

[code]

[2017-07-05 14:47] yuisato commented on #202
@blahah (cc @cboursnell)
Dear Richard,
I have started getting the same error since our nodes' system upgraded to Debian Stretch. The pre-compiled package of transrate-1.0.3 used to work fine with the older Debian. Any update regarding the salmon dependency?   Thank you very much!!
Yui

[2017-07-05 15:51] blahah commented on #202
I started on a `v1.0.4` yesterday - hoping to get it out by the end of this week. I might need some help testing on different platforms - if anyone in this thread is willing to try the new build on their platform and report back before the release please add a thumbs up emoji to this comment :)

pls comment with any platforms you want it tested on and whether you can do that test

list of platform

[2017-07-05 18:10] yuisato commented on #202
Great news! I can test the package with debian stretch and ubuntu 16.04; if I can get it by the Friday evening European time (going away from Saturday morning.).

[2017-07-13 18:14] patrick-douglas opened #211 "How to perform metrics based on reads using single fastq file"
My reads are single end and does not have _--left_ and _--right_.only one **fastq** file, how can I run **Transrate** in single end reads?

[2017-07-13 19:13] blahah commented on #211
@PatrickDouglasCP sorry, but transrate deliberately does not accept single-end read data. Most of the metrics we compute would not be possible without paired reads.

[2017-07-13 19:13] #211 closed, assigned to nobody

[2017-08-04 18:28] upendrak commented on #201
I'm also getting this error and I did not find any help regarding this problem elsewhere.

[code]
Any help is much appreciated..

[2017-08-28 21:56] KhudyakovLab opened #213 "error sched_setaffinity: Invalid argument with transrate v1.0.3"
I am having a new error that I have not yet seen with v1.0.3 of transrate. The error message is:

sched_setaffinity: Invalid argument
Ran out of scoring candidate pool entries. Perhaps trying with a larger value of -mcp will help.
SNAP exited with exit code 1 from line 490 of file SNAPLib/IntersectingPairedEndAligner.cpp

Is this a bug?

[2017-08-29 16:29] AdamStuckert commented on #189
Did you find a fix for this issue @jorvis? I'm getting this same error.

[2017-08-29 16:37] jorvis commented on #189
No I didn't, and I stopped trying to use the program.  If a solution is forthcoming I might give it another shot.

[2017-08-30 18:46] AdamStuckert commented on #189
I'm refreshing this because I'm getting the same issue. I realize it is with SNAP, but do you have any insights @blahah? RAM should not be an issue here, since it was running on a 3 TB node. The number of bases does admittedly seem excessive, but it is a number of assemblies merged together, across a large number of experimental treatments, to see how various methods of assemblies influence downst

[2017-09-01 16:10] nickschurch opened #214 "Gem install failing on Ubuntu 17.04"
Trying to install transrate on my Ubuntu 17.04 and I get:

[code]

This is with Ruby 2.3.3p222. Any idea what the problem is?

[2017-10-10 23:31] apredeus opened #215 "bioconda install for transrate?"
Hello everybody,

is there a bioconda recipe for transrate? I found one for transrate-tools, but not for transrate. Doesn't seem logical though that there would be one without another.

Thank you in advance

[2017-10-15 15:05] RuiMMFaria commented on #208
Hi Blahah,

Can you let us know if the bug only affected the reported values? or if it really affected the estimates for the "good transcripts". Just wondering if I should re-do my analysis, or if only the reported values are not correct but the transcripts are.

[2017-10-21 22:24] antonkulaga opened #216 "`terminal_columns': undefined method `winsize' for nil:NilClass"
When I install transrate and run transrate command I get misterious
[code]
here is the docker file content, so you can reproduce it:
[code]

[2017-10-25 23:42] xibalbanus commented on #202
Would it be possible to test it on Debian 10 (Buster)? I've had the same salmon issue with precompiled binaries as well as with trying to compile them on my system (newer versions of salmon work just fine).

Cheers,

J

[2017-11-01 08:39] AsterChen commented on #202
I have the same problem but don't know how to solve it. Is v1.0.4 available now? Any update to solve salmon problem?

[2017-11-01 22:27] antonkulaga commented on #216
@blahah any updates?

[2017-11-07 19:33] bauber20 commented on #199
I am having the same problem with 75G files stalling at this same stage for 4 days now. I was previously able to do this with 25G files and it took 5 hours to fully complete. I did attempt to delete the run and it's files but same stalling point

[2017-11-08 08:46] EmilyAmor commented on #202
I have just downloaded the newest version on http://hibberdlab.com/transrate/installation.html and get salmon issues. Can anyone please advise?

[2017-11-16 12:24] RuiMMFaria commented on #208
Hi,

maybe my question was not clear enough. Is the bug reported in 1.0.3 only about reporting wrong stats (reporting problem) or is affecting also the decision of selecting the "good transcripts". If it is the second, was this bug already fixed?

[2017-11-27 11:55] RuiMMFaria opened #217 "Weird read mapping metrics on version 1.0.3"
Hi,

on the 9th of April this year I reported a problem with weird read mapping metrics on version 1.0.3. which then you confirmed to be a bug.

Could you let me know if that bug only affected the report of those statistics but the transcripts selected as "good.transcritps" were really the ones with the best scores, or if this would have an affected the selection of the good transcripts in the out

[2018-04-03 07:35] lauraht commented on #56
Can we use single-end reads now (for example, PacBio long reads)?
If so, how should we specify the file of the reads in the command line (currently there are --left and --right for paired-end reads)?
Thank you very much!

[2018-04-09 03:17] elijahlowe commented on #189
did anyone find an answer for this problem?

[2018-04-13 17:40] ssander5 opened #218 "SNAP failing in v 1.0.3"
I'm running transrate with the --left and --right options.  The inputs are correct, full fq files.  I've run it on up to 300GB of memory.  I've reinstalled transrate using the source from a previous issue with the same problem - I'm still getting the error:

Welcome to SNAP version 1.0dev.96.
mmap failed.
MemMapDataReader: fail to map /N/dc2/scratch/hewals/BACKUP/input_files/Cat_R1.fastq at 0,1077

[2018-04-16 12:08] Portvin opened #219 "Dependencies are missing -salmon (0.6.0)"
When I run this command;
transrate --assembly transcripts.fa --left left.fq --right right.fq

I get:
Dependencies are missing:
  - salmon (0.6.0)
You are running the packaged version of transrate
This comes with the read-metrics dependencies pre-installed

If I run versioncontrol on transrate or salmon, I get the correct version;

transrate --version
1.0.3

salmon -v
version : 0.6.0

Any suggestio

[2018-04-25 23:33] kmnip opened #220 "Unexpectedly low `p fragments mapped`"
Hi,
I have been using Transrate 1.0.3 to benchmark my RNA-seq assemblies.
I noticed that a more contiguous assembly would have very low (eg. ~0.1) `p fragments mapped` in the log, but Transrate's BAM file has over 90% properly mapped read pairs according to `samtools flagstat`. A less contiguous assembly would have about 0.7 `p fragments mapped`. I have also tried a reference-based approach such a

[2018-04-27 08:07] Jeremias-Brand opened #221 "CPU instruction shared across concurrent transrate runs"
I am running transrate v1.0.3 on CentOS 6

When running transrate on multiple assemblies at the same time, it seems that transrate shares the CPU instruction across runs.

My snakemake pipeline provides 14 cores for each of 4 runs. This works with the other tools (Trinity, Shannon, trimmomatic etc) but as soon as transrate steps start only 14 instead of 48 cores are used. This is even the case whe

[2018-05-24 19:31] CrisBMoya commented on #202
As of May 2018, I'm also having this problem.
Any solution?

[2018-06-28 11:21] algebio opened #222 "Using current version of Salmon"
Hi

I get this message:

Dependencies are missing:
  - snap (1.0dev.96)
  - bam-read (1.0.0)
  - salmon (0.6.0)
You are running the packaged version of transrate
This comes with the read-metrics dependencies pre-installed

If added the path to snap and bam-read but I don´t want to install an old version of salmon.
I have a newer version of salmon installed. How can I solve this dependency?

Thanks

[2018-07-11 15:28] sdbaney commented on #202
Deleting "librt.so.1" from the salmon lib file seems to get salmon running on Ubuntu 16.04

[2018-07-20 11:06] janoppelt commented on #202
Same issue here on Ubuntu 16.04.4 LTS and Debian 9 (stretch). I can test it on both if requested.

[2018-08-22 12:11] mscheremetjew commented on #218
Hi, Have you tried to install the reference-based mode dependencies? This solved the issue I had with SNAP on my side.
Command:
transrate --install-deps ref

[2018-10-06 22:43] weedcentipede opened #223 "Salmon"
Hello,
Trying to run Transrate, I get the following error for Salmon,
[code]

Trying to fix this, I installed with Conda and still getting the same error,
[code]

Do you know how can I fix this?
Thanks in advance,
Luis Alfonso.

[2018-10-07 16:10] sagnikbanerjee15 opened #224 "Salmon is failing"
Hello,

I am using transrate to quantify the quality of de-novo assemblies. This is the command I am running.

nohup /work/LAS/rpwise-lab/sagnik/softwares/transrate/transrate --assembly /work/LAS/rpwise-lab/sagnik/data/maize/AGPv4/transcriptome/transcripts.fa --left /work/LAS/rpwise-lab/sagnik/Gene_Prediction/maize_gene_annotations/data/raw_fastq/SRR5941975_adapter_trimmed_1.fastq --right /work/LA

[2018-12-13 14:18] KarolisM commented on #187
Hi,

still same error with v1.0.3, downloaded compiled version for linux:

https://bintray.com/artifact/download/blahah/generic/transrate-1.0.3-linux-x86_64.tar.gz

Karolis

[2018-12-15 14:41] JohnUrban commented on #187
Yes same here. I'm getting this error using:
https://bintray.com/artifact/download/blahah/generic/transrate-1.0.3-linux-x86_64.tar.gz

I can also confirm that `transrate --install-deps ref` works...

[2019-01-11 17:17] lmfaber commented on #215
If you're still interested I made some recipes that are working for me on two different machines. You can find the recipes here: https://github.com/lmfaber/transrate_conda
I also uploaded them to anaconda: https://anaconda.org/lmfaber/transrate
If you test them, it would be nice to let me know if the recipes and the tool are working for you too.
Cheers

[2019-01-11 17:28] apredeus commented on #215
It does seem to install quite nicely, thank you!

I've installed it in a separate conda virtual environment. Didn't test it in much detail yet, but it installs and runs without any problem.

[2019-01-15 21:51] kvpmulder opened #225 "Snap failing due to memory requirements on large transcriptomes"
Hi transrate community,

I have a trinity assembly and want to run a total of 4 HiSeq lanes of data against it with transrate. For snap to run successfully I need to increase the mcp threshold and the memory usage becomes too high. I can only run about 1/3 of the data in one go without hitting the limit for our server (450Gb). This seems very high for a mapping step. Is there a way to reduce the m

[2019-01-24 15:48] vhfsantos commented on #202
I found a solution to this issue.
I removed salmon from <transrate_path>/lib and created a link to salmon 0.6.0 installed with conda.

--------------

I had any version of Salmon installed, so I installed salmon 0.6.0 using [conda](https://conda.io/en/latest/miniconda.html).

First I created a conda environment called `transrate` to avoid issues with other programs that might use latest versions o

[2019-01-24 15:52] vhfsantos commented on #219
I wrote a solution for such issue [here](https://github.com/blahah/transrate/issues/202#issuecomment-457245624)

[2019-01-26 20:36] manuelsmendoza opened #226 "transrate in conda project"
Hi!

Thanks so much for Transrate, it's a fantastic tool!! Have you thought about adding transrate to Conda (bioconda)? It's the easiest way to install bioinformatic software.

Cheers,
~MM

[2019-01-29 17:20] cooketho commented on #202
I'm also having this problem, but on Ubuntu 18.04.1 LTS.

[2019-01-29 17:32] macmanes commented on #202
@cooketho you can use the Oyster River version of transrate, in `~/Oyster_River-Protocol/software/orp-transrate/`

[2019-02-04 11:23] lmfaber commented on #226
I made a Conda recipe myself. It's not the cleanest recipe, but works for me. If you happen to test it, I would appreciate some feedback. It's not on bioconda, but in a private repository. Have a look at #215

[2019-02-04 11:50] manuelsmendoza commented on #226
Nice! I'll try! Thansk!!

[2019-02-04 11:50] #226 closed, assigned to nobody

[2019-02-04 14:41] roryk commented on #226
Awesome-- what do you think about moving your conda recipe to bioconda?

[2019-02-04 17:22] lmfaber commented on #226
I would like to have the recipe added to bioconda so people can have easier access to it. However, I think that the recipe doesn't meet the requirements from the [guideline](https://bioconda.github.io/guidelines.html). The biggest issue here being the dependencies. The recipe just downloads the precompiled binaries, including all dependencies like Snap-aligner, Salmon, Bam-read, and Blast+. If I g

[2019-02-26 15:13] life404 opened #227 "The solvation of librt.so.1 in Ubuntu 16.04 server"
If you run `transrate` in Ubuntu 16.04 and have problems like follow when run `salmon(0.6.0)`
[code]
You just need remove or rename the librt.so.1 in `/bin` directory of transrate or the same directory with salmon.

[2019-03-06 21:21] isgilman commented on #218
I'm having a similar and possibly related problem. Here is my command and output.

[code]
Using print statements I figured out that the "Failed to build Snap index" error is being thrown from line 146 (`              msg = "Failed to build Snap index\n#{runner.stderr}"` instead of line 127, which has the same error message) of [snap.rb](https://github.com/blahah/transrate/blob/master/lib/transrate

[2019-03-10 21:06] MDSharma commented on #225
Hi, any thoughts?

[2019-03-10 21:07] MDSharma commented on #224
Hi, same here.. wondering if you are considering keeping this tool updated?

[2019-03-10 21:42] sagnikbanerjee15 commented on #224
Hello,

I have swapped out snap with bwa and have also made a few changes in the
rube code which I can share with you.

Thank you.

On Sun, 10 Mar 2019, 4:07 pm MD Sharma, <notifications@github.com> wrote:

[2019-03-10 23:30] MDSharma commented on #224
Yes please!

Best Regards,
MD Sharma(sent via a mobile device.. please blame the AI driven autocorrect algorithm for any errors)

________________________________
From: Sagnik Banerjee <notifications@github.com>
Sent: Sunday, March 10, 2019 9:42:37 PM
To: blahah/transrate
Cc: Sharma, M D; Comment
Subject: Re: [blahah/transrate] Salmon is failing (#224)

Hello,

I have swapped out snap with bwa and

[2019-03-12 18:18] kvpmulder commented on #225
i ended up doing an in silico normalization using trinity and then only using the normalized reads to run transrate. Its not ideal because you lose some power but it reduces the memory threshold needed.

[2019-03-13 13:28] ghost commented on #224
I guess I am having the same problem here.

Running:

`transrate --assembly Pd_1_Trinity_4x.fasta --left Pd_1_Trimmomatic_R1.fastq --right Pd_1_Trimmomatic_R2.fastq --threads 30`

Ends with a Salmon error:

Exception : [The provided alignment file: "../transrate_results/Pd_1_Trinity_4x/Pd_1_Trimmomatic_R1.fastq.Pd_1_Trimmomatic_R2.fastq.Pd_1_Trinity_4x.bam" does not exist!
]

Is this the same erro

[2019-03-13 21:39] elainfl opened #228 "Snap found unmatched read IDs in input fastq files"
Hello, I am trying to use TransRate

Path/transrate-1.0.3-linux-x86_64/transrate --assembly=assembled.transcripts1.fasta,assembled.transcripts2.fasta,assembled.transcripts3.fasta left=RNAseq1.trimmed.fastq,RNAseq1.unpaired.fastq --right=RNAseq2.trimmed.fastq,RNAseq2.unpaired.sed.fastq

[ INFO] 2019-03-13 17:59:09 : Loading assembly: assembled.transcripts1.fasta
[ INFO] 2019-03-13 18:04:31 : Analys

[2019-04-08 11:20] manuelsmendoza commented on #215
hi @lmfaber !

May you update the salmon version installed in the package at conda? Thanks in advance.

[2019-04-08 11:38] lmfaber commented on #215
Unfortunately, I will not be able to do so. I'm using the precompiled version of TransRate from their website to work with conda, limiting me to the latest version published. Sorry about that.

[2019-05-07 17:29] matthewabirk commented on #210
@XinpengQi, how did you get the updated Salmon to run within Transrate? I have encountered the same issue.

[2019-05-07 18:23] matthewabirk opened #229 "tpm, eff_count, and coverage all zero in contigs.csv"
Has anyone else had an issue of the `tpm`, `eff_count`, and `coverage` being zero for all your contigs in the `contigs.csv` file?

I suspect this is due to the `salmon.log` containing an error:

    The alignment group queue pool has been exhausted.  0 extra fragments were allocated on the heap to saturate the pool.  No new fragments will be allocated

The `snap.log` seems fine.

[2019-05-07 21:13] XinpengQi commented on #210
Not yet solved :-(

[2019-05-15 14:23] lmfaber commented on #199
I'm having the same issue. In my case it turns out that spaces in the header of the contig fasta files are causing this problem. For example this is the case with a Trinity assembly output like the following.
[code]
Removing/Replacing the spaces in the fasta headers solved the issue for me.

[2019-06-09 19:56] podunn58 commented on #223
I am having this same problem.  It will not install Salmon 0.4 with the --install-deps all command, and Salmon 0.4 is so old that it is not on conda anymore.
Any assistance would be appreciated.
thanks,
Peter

[2019-06-25 19:25] unalibun commented on #207
Hi everybody, I am having the same error : /Storage/data2/sandra.gonzalez/PacBio/annotation/braker_canu_softmasked/transcripts_pseudocercospora/transrate/transrate-1.0.3-linux-x86_64/lib/app/bin/transrate:13:in `raise': BLAST Error creating database (RuntimeError). That is quite weird because I am trying to evaluate several --reference and one of them finish the running successfully. I am running

[2019-08-31 14:05] rafaeltiveron commented on #187
It seens not working anymore... Do you have a directly link or manual step installation?

[2019-09-05 12:48] Shellfishgene opened #230 "Transrate broken and unsupported?"
Hi,
I just tried to use this for a project before I realized there are a number of bugs (nicely listed in issue https://github.com/blahah/transrate/issues/201), and apparently no support any more for some years now. Maybe it would be nice to put a warning on the webpage and in the main readme that Transrate is currently only semi-useable and not supported anymore, so people don't waste time trying

[2019-09-05 13:01] macmanes commented on #230
I'll just note that there is a working version of TransRate packaged in the Oyster River Transcriptome assembler. Install via docker: https://oyster-river-protocol.readthedocs.io/en/latest/docker_install.html

[2019-09-05 13:18] Shellfishgene commented on #230
Thanks, unfortunately I can't use Docker on our cluster but I'll have a look.

[2019-09-05 13:20] macmanes commented on #230
You can use https://oyster-river-protocol.readthedocs.io/en/latest/aws_setup.html for manual install, but it’s fairly finicky on some systems.

Matt
______________________________________________
Matthew MacManes, Ph.D.
University of New Hampshire  |  Associate Professor of Genome Enabled Biology
Department of Molecular, Cellular, & Biomedical Sciences
Durham, NH  03824
Phone: 603-862-4052<tel://P

[2019-09-06 09:15] Shellfishgene commented on #230
For now I used the version found in https://github.com/macmanes-lab/Oyster_River_Protocol/tree/master/software and that seems to run fine, thanks!
I'll have to build the ORP docker image with ubuntu 16 and convert to singularity to run it, I'll try that later...

[2019-09-06 09:15] #230 closed, assigned to nobody

[2019-09-09 16:24] theagessler commented on #229
I have this same problem. Is there a fix for this?

[2019-10-23 20:57] rafaeltiveron opened #231 "MPI implementation"
Any implementation for MPI parallel in different nodes???

[2019-10-23 20:58] macmanes commented on #231
no

On Oct 23, 2019, at 16:57, rafaeltiveron <notifications@github.com<mailto:notifications@github.com>> wrote:

Caution - External Email
________________________________

Any implementation for MPI???

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_blahah_transrate_

[2019-10-30 14:13] zolotarovgl opened #232 "SNAP error"
Hi,
I tried to use transrate for the transcriptome assembled by trinity.
However, SNAP fails with the following error message:
`Ran out of scoring candidate pool entries.  Perhaps trying with a larger value of -mcp will help.
SNAP exited with exit code 1 from line 490 of file SNAPLib/IntersectingPairedEndAligner.cpp`
I would be very grateful for any help with this.

[2019-11-12 09:42] dpryan79 commented on #216
For the bioconda recipe and biocontainer I've needed to disable the chunk of code that checks the console size before printing the banner https://github.com/bioconda/bioconda-recipes/pull/18581/files

This solves the issue, though it'd probably be better to simply not bother with the banner. Interestingly, without patching it runs without printing the transrate banner outside of the docker contain

[2019-11-29 23:12] rafinhacp commented on #189
Hi, I'm trying to run Transrate_v1.0.3 (latest version as far as I'm concerned) on my transcriptome assembly and I'm getting the same issue as @AdamStuckert and @jorvis. Does anyone knows how to fix this?

[ INFO] 2019-11-29 15:48:45 : Loading assembly: /media/raid/raperez/transcriptomes151/data-rafaela/trinityOUT-RMR/Trinity.fasta
[ INFO] 2019-11-29 16:10:24 : Analysing assembly: /media/raid/rape

[2019-11-30 15:33] AdamStuckert commented on #189
I never was able to "fix" this per se @rafinhacp. That said, two suggestions.

1. Restart this. Sometimes it just gets hung here and a restart works.
2. Use a smaller input. I'm not sure what you are doing, but it looks large. In my experience, this causes problems. You could fix this by trying to subsample your data, or rethinking your assembly approach so there is less variability in the input d

[2019-12-04 02:32] lychen83 opened #233 "Installation error: Error installing transrate-1.0.3.gem ERROR: Failed to build gem native extension"
Dear all,

I have run the transrate v1.0.3. However, the version has lots of problems.  Therefore, I tried to install the v.1.0.4 according to the instruction https://github.com/dfmoralesb/transrate
However, I confronted some errors when I type the command:  sudo gem install _transrate-1.0.3.gem_
The error is:
_ERROR:  Error installing transrate-1.0.3.gem:
	ERROR: Failed to build gem native extens

[2019-12-04 13:42] rafinhacp commented on #189
Thanks @AdamStuckert. I'll rethink how to go about it, giving that rerun is not working.

[2020-01-08 14:12] sunnyEV opened #234 "Not able to install transrate (ruby error) ?"
HI
unable to install transrate, ruby error .Suggestions please!
I installed rvm and other dependencies, still showing the same error.

Traceback (most recent call last):
	2: from ./transrate:2:in `<main>'
	1: from /usr/lib/ruby/2.5.0/rubygems/core_ext/kernel_require.rb:59:in `require'
/usr/lib/ruby/2.5.0/rubygems/core_ext/kernel_require.rb:59:in `require': cannot load such file -- transrate (LoadE

[2020-01-13 19:54] rafinhacp commented on #232
I had the same problem and while looking for a solution, I ran into this: https://github.com/blahah/transrate/issues/204

I haven't tried yet, but it might help you too.

[2020-01-27 15:42] upendra2020 opened #235 "SNAP error in Transrate with large dataset"
Hi,

I am having this SNP error (I found this in the sanp.log file) when I ran Transrate on a large dataset.

[code]

The Transrate finishes well on a smaller subset of the dataset but not with the larger dataset. I googled but I couldn't find a solution to this problem. Is it something to do with memory?

Please help.

Thanks

[2020-03-03 20:00] blahah commented on #216
@dpryan79 do you think it's the case that we should just disable the banner stuff to maximise compatibility? Happy to push small fixes if I can.

[2020-03-03 20:02] dpryan79 commented on #216
@blahah yeah, that'd be the path of least resistance. Just print a small banner with simple print functions if you really want to.

[2020-03-03 20:04] blahah commented on #216
So much for trying to add a little flare to the day of bioinformaticians :joy:

OK. I'll carve out the banner (everything with colours) and leave it plain. Usability and composability do more social good than fun I suppose.

[2020-04-22 10:20] VaneSGT opened #237 "[ERROR] 2020-04-22 12:10:41 : ReadMetrics: could not find bam-read in path"
Hello all,
I'm beginner with this bioinformatic tools and I'm trying to install transrate. The installations seems to be OK, but when I try to run an analysis with the example dataset I get this error:
[ERROR] 2020-04-22 12:10:41 : ReadMetrics: could not find bam-read in path
it happen before with snap but error was solved when I have installed the snap-aligner dependency.
However my problem is th

[2020-05-24 09:32] #237 closed, assigned to nobody

[2020-05-24 13:27] VaneSGT opened #238 "transrate with 2left and 2 right fastq files?"
Hello,
I want to check with transrate a transcritome that is assemble by de novo using 2 left and 2 right fastq files, that is forward root, forward shoot, reverse root and reverse shoot.
Just by separation using coma does not work, because transrate considered that coma separation is also for coma separated transcriptome assemblies, therefore transrate only consider the first fastq file for each.

[2020-05-28 19:09] blahah commented on #238
It's been at least 3 years since I last looked at the code or ran the tool, so please bear with me while I check this out. I hope to have a solution for you soon :)

[2020-05-29 16:15] zagorGit commented on #158
same question, as we are getting underestimated no. of ORF on sequences with defined ORFs

[2020-05-29 18:37] zagorGit opened #239 "Discrepancy in ORF count between contigs.csv and assemblies.csv"
We noticed discrepancy between n_with_orf from assemblies.csv file and number of sequences from
contigs.csv file where values in orf_length exist, or are > 50nt or even > 50aa.
How is n_with_orf actually calculated?

[2020-06-03 16:18] blahah commented on #239
Hey, yeah we set an arbitrary limit of 50aa in order to avoid spurious false tiny ORFs causing issues, I think.

However, in hindsight that was a spurious heuristic to apply. We could change it to a CLI option, and you can change the code here to adjust it for your own use case: https://github.com/blahah/transrate/blob/91fb81a89f9fd73d28de2ad34074ec193c99b41b/lib/transrate/assembly.rb#L162-L164

[2020-06-03 16:20] blahah commented on #158
Oof, sorry, this has gone unanswered for a long time.

Please see #239 where we will get this resolved.

Thanks for using transrate!

[2020-06-03 16:20] #158 closed

[2020-06-03 16:53] zagorGit commented on #239
great, thnx!

I suggest to rename _'n_with_orf'_ then to _n_with_orf > 149 nt_ key name, or similar, not to confuse users and reviewers

[2020-06-03 16:54] #239 closed, assigned to nobody

[2020-06-03 17:43] blahah commented on #238
Hey - you're right that it doesn't work as expected in this case. Sorry for the trouble!

I did some tests and by far the easiest solution is to just combine the left and right fq files into one file each, e.g.:

[code]

[2020-06-03 17:52] VaneSGT commented on #238
Thanks a lot,
first time I combined the files did not work, probably because I combined wrong files :$
But now is OK
It is just that I was wondering if could be a way to just feed with files directly, but in the end this is a pain and combine files is fine and fast so...

:)

[2020-06-03 17:52] #238 closed, assigned to blahah

[2020-07-06 14:22] Zhaoweishan commented on #215
Thanks! It runs perfectly! @lmfaber

[2020-07-06 14:23] Zhaoweishan commented on #202
Maybe this can help to solve the issue. And I have tested it.
Here: [https://github.com/blahah/transrate/issues/215#issuecomment-453590406](url)
Thanks @lmfaber

[2020-07-07 14:26] D-anders313 commented on #208
Hi,

I am having a similar issue (see below) with my assembly of paired end data.  I see that this is an older thread.  Was this bug resolved in version 1.0.3?  I previously had very good read mapping metrics using bowtie (94%) and SNAP reported only 2% unaligned reads.  I am no bioinformatician, so I am not sure how comparable this is to the SNAP log but I have included it here.
Any help or advic

[2020-07-11 17:18] Gyzele opened #240 "Failed to install-deps"
I tried to install the transrate deps, but the installation failed.
transrate --install-deps all
Checking dependencies
Installing snap (1.0dev.96)...
Installing salmon (0.6.0)...
Installing blastplus (2.2.[0-9])...
[ERROR]Failed to install:
 - snap:1.0dev.96
 - salmon:0.6.0
 - blastplus:2.2.[0-9]
Why does it happen?

[2020-07-16 15:47] manuelsmendoza opened #241 "weird results (v1.0.3)"
Hi @blahah and folk!

I'm evaluating different assemblies to build a transcriptome of reference. I'm using a hybrid approach i.e. combining long-reads (PacBio) with short-reads (Illumina). After running the assembly, I've tried to evaluate it and the result is a little weird.

The total number of fragments/reads mapped to the assembly was very low at *Read mapping metrics* module, only 29% so I al

[2020-07-16 17:20] manuelsmendoza commented on #227
Doesnt work for me

[2020-08-03 15:59] ngroberts commented on #228
I am having the same problem. I thought it might have to do with the way my reads are trimmed but no dice.

[2020-09-16 08:22] abshah commented on #201
Hi @upendrak and @eeflynn, can you test out my fork (https://github.com/abshah/transrate) of Transrate 1.0.3 and let me know if it works fine for you. I seem to have fixed some of the issues with Salmon.

[2020-11-13 22:47] blahah commented on #201
Great stuff @abshah, thanks! It's not immediately clear to me whether the transrate model still holds with the latest Salmon version. But @rob-p is exactly the person who will know. Rob, any chance you can peek at https://github.com/blahah/transrate/compare/master...abshah:master and say yay or nay whether this is a trivial merge?

If so @abshah we can release a patch version with your fix :)

[2020-11-16 18:52] olar785 commented on #227
Nice thanks! For some reason after installing transrate I was getting:
Dependencies are missing:
  - salmon (0.6.0)
Even though all dependencies are included in that install version. Curiously, the problem was solved by just renaming the  librt.so.1 file.

[2020-11-18 13:00] abshah commented on #240
Hi @Gyzele , can you try using this [fork](https://github.com/abshah/transrate) and let us how it works for you.

[2020-11-19 03:10] blahah commented on #240
to do that:

[code]

[2020-11-26 08:02] Shellfishgene commented on #240
@abshah The deps file in your fork contains the old download link for Salmon.
@blahah That does not actually work for me. This works:
[code]

[2020-11-26 12:34] abshah commented on #240
@Shellfishgene, I can test it out with latest version of Salmon (ver. 1.4.0), and let you know if the this version works better.

[2020-11-26 12:44] Shellfishgene commented on #240
@abshah I meant there is a conflict in your deps file, the version check is for 0.13.0 but the download link is for 0.6.0, [here](https://github.com/abshah/transrate/blob/b7d4192dbd409f4e0e3cdf3d026846843d4435ef/deps/deps.yaml#L45).

But if  you want to update it you can also check snap, there is now a version 1.0.0. While you're at it you might also want to switch out the `trollop` module to `opt

[2020-11-26 13:00] abshah commented on #240
@Shellfishgene , updated the Salmon link.

Thanks for spotting that.

I will also check the latest versions of SNAP and Salmon, and fix the trollop module to optimist, in the next few days.

[2020-12-25 12:55] ljudevitluka commented on #202
Hey all, I managed to solve this problem by renaming the  librt.so.1 to librt.so.6. From what I have seen the problem seems to be the incompatibility of this version with the new systems.
This change can be simply done by executing "mv librt.so.1 librt.so.6" command in the /bin directory of Transrate program PATH_TO/transrate-1.0.3-linux-x86_64/bin.
Not sure if this is the correct way to do it but

[2021-01-13 13:30] Rhinogradentia commented on #240
Hi,
I got the same error as above and used the workaround

[code]
, but now the blast+ installation fails which was successful before.

[code]

What could help here?
Thank you
Best,
Nadine

[2021-01-13 14:50] Shellfishgene commented on #240
It tries to install blast from here:
```ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/2.2.29/ncbi-blast-2.2.29+-x64-linux.tar.gz``` (on Linux).
You can check if you can download this manually or if there is some error. You can also install it manually instead of through transrate.

[2021-01-13 16:32] Rhinogradentia commented on #240
Thanks - now I get another error - maybe I will have a look at the source myself:

[code]

[2021-01-13 19:37] Shellfishgene commented on #240
No idea what causes that, if you don't want to mess with it you could also try using the biocontainers container for transrate, if you can use docker or singularity.

[2021-03-18 19:40] MartinTes commented on #240
Hi,

I have recently installed the latest version of Transrate using bioconda and I might encounter the similar issue:

conda create -n trenv -c conda-forge/label/cf202003 ruby
conda activate trenv
conda install  -c bioconda transrate

When I run it with the example dataset (transrate --assembly transcripts.fa/)  I had the following call:

[ INFO] 2021-03-15 13:39:24 : Loading assembly: /home/mart

[2021-05-20 04:19] chrisreidy opened #242 "Broken link to obtain code"
This link is broken
wget https://bintray.com/artifact/download/blahah/generic/transrate-1.0.3-linux-x86_64.tar.gz

[2021-06-21 20:59] KDRichar commented on #228
Was this issue addressed?

[2021-06-29 03:41] sanyalab commented on #242
The link wget https://bintray.com/artifact/download/blahah/generic/transrate-1.0.3-linux-x86_64.tar.gz is broken. Cannot download

[2021-07-11 13:26] lmuenter commented on #218
On a side note: You can download the [Oyster River Protocol's](https://oyster-river-protocol.readthedocs.io/en/latest/) packaged version of Transrate. It's standalone and works like a charm. It's sad that this program has been discontinued!

[2021-07-11 13:28] lmuenter commented on #235
Hi, try downloading the [Oyster River Protocol](https://oyster-river-protocol.readthedocs.io/en/latest/) and use the packaged Transrate.

[2021-09-09 11:35] Shabbirm21 opened #243 "supported bridges.csv missing from output"
Hi,
I never get any value for potential bridges or  supported bridges.csv file in my tansrate output.
I am using general command:
$ transrate --assembly one.fa,two.fa \
            --reference ref.fa \
            --left left.fq
            --right right.fq
and my transrate version is Transrate v1.0.3.

I always get 0 for any data for potential bridges, is there any flag I am missing?  Any lead wo

[2021-10-06 12:25] JVRoigG commented on #240
Hi,

Has anyone solved this issue?

[2021-10-15 15:07] ndaluthge commented on #240
Probably this might help - I was getting the 'Failed to install:' error for 'salmon (0.6.0)'. When I opened the /bin folder in my Transrate env (I run transrate as a Conda env) I could see that 'salmon' was there but apparently it wasn't been recognized. So I deleted salmon from this 'bin' folder and downloaded the salmon binary (version 1.5.2) 'salmon-1.5.2_linux_x86_64.tar' to my desktop, unpack

[2021-10-21 15:01] ghost commented on #240
Hello,

I'm also having this issue.

[code]

I've install transrate (v1.0.3) through conda.

Can anyone help me?

Thank you!

[2021-10-21 15:30] ndaluthge commented on #240
@dpgrape If you go to your conda envs 'bin' folder for transrate, do you see 'salmon' and 'blastplus' as installed packages?

[2021-10-21 15:40] Shellfishgene commented on #240
@dpgrape Try to also install the transrate-tools package in the same conda env. Works for me.

[2021-10-22 10:27] abshah commented on #240
I can review this over the weekend. Sorry for delayed response.

[2021-11-08 09:51] ghost commented on #240
Sorry for the late response. I can see  'salmon' but not 'blastplus' .

Thank you, I'll try

[2021-11-08 16:27] ndaluthge commented on #240
Replacing the 'salmon 0.6.0' with 'salmon 1.5.2' in the conda env sorted out the issue with salmon for me. Not sure about the 'blastplus' though. You might have to try downloading that again.

[2021-11-09 15:45] timslittle opened #244 "Conda installation fails based on 'glibc' dependency issue"
I tried to install the conda version of TransRate using both conda versions 4.8.4 and 4.9.2, both giving the following error:

Command:
`conda install -c bioconda transrate`

Error:
[code]

It is unclear why the installed version 2.17 is not considered to be '>=2.17'.

I've seen this error mentioned online for other conda package installations and I couldn't find a consistent fix.

I tried using a

[2021-11-10 10:45] timslittle commented on #244
Fixed by using conda-forge:
`conda install -c conda-forge transrate`

[2021-11-10 10:45] #244 closed, assigned to nobody

[2021-11-27 17:35] Tina-L-Nguyen opened #245 "Linux download not working v1.0.3"
This download link isn't working https://bintray.com/artifact/download/blahah/generic/transrate-1.0.3-linux-x86_64.tar.gz.

[2022-03-01 13:09] pmomadeira commented on #241
Greetings,

I am also having a very similar problem. When using the most recent versions of transrate, the results always have the same set of issues.
Number and percentage of mapped fragments is always low ( <45%), there are no potential bridges (potential_bridges = 0, always) and values like uncovered and lowcovered bases and contigs will always be very high (with percentages for those being 1 (

[2022-03-01 14:22] blahah commented on #241
@manuelsmendoza and @pmomadeira if you are willing to share the input data privately I can investigate what's happening.

Transrate doens't consider pacbio reads, so it's not appropriate to evaluate a hybrid pacbio/illumina assembly using only the illumina reads - by design your sequencing strategy creates an assembly that includes a lot of information not included in the short reads.

However, it

[2022-03-01 19:06] pmomadeira commented on #241
Greetings @blahah,

My data are regular illumina reads and assemblies so I'm not sure if the hybrid pacbio/illumina assembly is the reason for the issue. I'm using a rnaSpades built assembly with pair-read sample data. We have used it before in our lab and it worked fine, and in fact it still runs fine with an older installation of transrate v1.0.1.

I've been looking at some of the code in [dfmor

[2022-03-23 19:54] sericomyxa commented on #241
I am also getting the same results with transrate 1.0.3--bridges=0, and p contigs uncovered/lowcovered=1. @blahah, would it be possible to make the old builds available again? Bintray is no longer in use.

[2022-03-23 22:41] pmomadeira commented on #241
Hi @sericomyxa . I wasn't able to solve the issue using transrate 1.0.3 but I did create a new fork that solved the bridges and mapping issues. Check it out [here](url)[https://github.com/pmomadeira/transrate] and see if it solves your issue. Hope it helps!

[2022-08-15 13:59] bgruening commented on #245
@Tina-L-Nguyen there is a conda package that you might want to use instead.

[2022-11-07 12:14] ewelinarubin opened #246 "merge assemblies"
I noticed that transrate might have the ability to merge assemblies. I have fasta files from 10 individual assemblies -- is there a way to merge all ten?
If yes, what is the correct syntax for that command, how to list the fasta files?
I tried the following, but it did not work

transrate --threads 32 --merge-assemblies --assembly 1A.fa,1D.fa, ... ..

[2022-11-09 18:13] zzheng24 commented on #215
That is very nice. Thank you!

[2022-11-17 07:07] blahah commented on #246
`--merge-assemblies merged.fa --assembly 1.fa,2.fa`